<form class="custom-dialog">
    <div class="form-group">
      <label>{{localize 'MB.Name'}}:</label>
      <input type="text" name="itemname" value="" placeholder="{{localize 'MB.Name'}}" data-dtype="String" />
    </div>     
    <div class="form-group">
      <label>{{localize 'MB.Type'}}:</label>
      <br>
      <select name="itemtype" class="add-type">
        <option value="armor">Armor</option>
        <option value="container">Container</option>
        <option value="misc" selected>Misc</option>
        <option value="scroll">Scroll</option>
        <option value="shield">Shield</option>
        <option value="weapon">Weapon</option>
      </select>
    </div>    
</form>