<form class="{{cssClass}} flexcol" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <div class="header-col1">
            <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
        </div>
        <div class="header-gutter-col">
        </div>
        <div class="header-col2">
            <div class="name-row">
                <input class="actor-name" name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'MB.Name' }}" spellcheck="false"/>
            </div>
            {{!-- we are cheating a bit here, using the 'item' class usually used on LI elements,
             so we can get the item _id to be found by the common click handler --}}
            <div class="classname-row item" data-item-id="{{data.class._id}}">
                <img class="classimg" src="{{data.class.img}}" title="{{data.class.name}}" width="24" height="24" />
                <label class="classname item-edit rollable">{{data.class.name}}</label>
                <div class="item-controls">
                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                    <a class="item-control item-scvmify" title="Scvmify"><i class="fas fa-skull"></i></a>
                </div>
            </div>
            <div class="hitpoints-row">
                <div class="hp-entries">
                    <span class="stat-label">{{ localize "MB.HP" }}:</span>
                    <input class="stat-input" name="data.hp.value" type="number" value="{{data.hp.value}}" data-dtype="Number"/>
                    /
                    <input class="stat-input" name="data.hp.max" type="number" value="{{data.hp.max}}" data-dtype="Number"/>
                </div>
                <div class="rest-buttons">
                    <button type="button" class="button item-button broken-button rollable" title="{{localize 'MB.Broken'}}">{{localize 'MB.Broken'}}</button>
                    <button type="button" class="button item-button rest-button rollable" title="{{localize 'MB.Rest'}}">{{localize 'MB.Rest'}}</button>
                </div>
            </div>
            <div class="omens-row">
                <span class="stat-label">{{ localize "MB.Omens" }}:</span>
                <input class="stat-input" name="data.omens.value" type="number" value="{{data.omens.value}}" data-dtype="Number"/>
                <span class="rule-text omen-rule rollable">{{data.class.data.omenDie}} {{ localize "MB.PerRest"}}</span>
                <!--
                <div class="rest-buttons">
                -->
                    <button type="button" class="button item-button get-better-button rollable" title="{{localize 'MB.GetBetter'}}">{{localize 'MB.GetBetter'}}</button>
            </div>
            <div class="miseries-row">
                <label class="stat-label miseries-label">{{ localize "MB.Miseries" }}:</label>
                <ul class="miseries">
                    <li><label><input type="radio" name="data.miseries.value" value="0" data-dtype="Number" {{#ifEq data.miseries.value 0}}checked{{/ifEq}}/><span>0</span></label></li>                  
                    <li><label><input type="radio" name="data.miseries.value" value="1" data-dtype="Number" {{#ifEq data.miseries.value 1}}checked{{/ifEq}}/><span>1</span></label></li>                  
                    <li><label><input type="radio" name="data.miseries.value" value="2" data-dtype="Number" {{#ifEq data.miseries.value 2}}checked{{/ifEq}}/><span>2</span></label></li>                  
                    <li><label><input type="radio" name="data.miseries.value" value="3" data-dtype="Number" {{#ifEq data.miseries.value 3}}checked{{/ifEq}}/><span>3</span></label></li>                  
                    <li><label><input type="radio" name="data.miseries.value" value="4" data-dtype="Number" {{#ifEq data.miseries.value 4}}checked{{/ifEq}}/><span>4</span></label></li>                  
                    <li><label><input type="radio" name="data.miseries.value" value="5" data-dtype="Number" {{#ifEq data.miseries.value 5}}checked{{/ifEq}}/><span>5</span></label></li>                  
                    <li><label><input type="radio" name="data.miseries.value" value="6" data-dtype="Number" {{#ifEq data.miseries.value 6}}checked{{/ifEq}}/><span>6</span></label></li>                  
                    <li><label><input type="radio" name="data.miseries.value" value="7" data-dtype="Number" {{#ifEq data.miseries.value 7}}checked{{/ifEq}}/><span>X</span></label></li>                  
                </ul>
            </div>
        </div>
        <div class="header-gutter-col">
        </div>
        <div class="header-col3">
          <div class="ability-row">
            <input class="ability-input" type="text" name="data.abilities.strength.value" value="{{numberFormat data.abilities.strength.value decimals=0 sign=true}}" data-dtype="Number" size="3" />
            <span class="ability-label rollable strength">{{ localize 'MB.AbilityStrengthAbbrev' }}</span>
          </div>
          <div class="ability-row">
            <input class="ability-input" type="text" name="data.abilities.agility.value" value="{{numberFormat data.abilities.agility.value decimals=0 sign=true}}" data-dtype="Number" size="3" />
            <span class="ability-label rollable agility">{{ localize 'MB.AbilityAgilityAbbrev' }}</span>
          </div>
          <div class="ability-row">
            <input class="ability-input" type="text" name="data.abilities.presence.value" value="{{numberFormat data.abilities.presence.value decimals=0 sign=true}}" data-dtype="Number" size="3" />
            <span class="ability-label rollable presence">{{ localize 'MB.AbilityPresenceAbbrev' }}</span>
          </div>
          <div class="ability-row">
            <input class="ability-input" type="text" name="data.abilities.toughness.value" value="{{numberFormat data.abilities.toughness.value decimals=0 sign=true}}" data-dtype="Number" size="3" />
            <span class="ability-label rollable toughness">{{ localize 'MB.AbilityToughnessAbbrev' }}</span>
          </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="obituary">{{ localize 'MB.TabObituary' }}</a>
        <a class="item" data-tab="violence">{{ localize 'MB.TabViolence' }}</a>
        <a class="item" data-tab="feats">{{ localize 'MB.TabFeats' }}</a>
        <a class="item" data-tab="powers">{{ localize 'MB.Powers' }}</a>
        <a class="item" data-tab="equipment">{{ localize 'MB.TabTreasures' }}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Obituary Tab --}}
        <div class="tab class-tab" data-group="primary" data-tab="obituary">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>

        {{!-- Violence Tab --}}
        <div class="tab violence-tab" data-group="primary" data-tab="violence">
            <ol class="items-list inventory-list">
                <li class="items-header flexrow">
                    <h3 class="item-name flexrow">{{localize "MB.ItemTypeWeaponPlural"}}</h3>
                </li>
                <ol class="item-list weapon-list">
                    {{#each data.equippedWeapons as |item id|}}
                    <li class="item flexrow" data-item-id="{{item._id}}">
                        <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
                        <h4 class="item-name item-edit rollable">{{item.name}}</h4>
                        <div class="item-fields">
                            <span class="item-field handed">{{item.data.handed}}H</span>
                            <span class="item-field damage-die">{{item.data.damageDie}}</span>
                        </div>
                        <div class="item-buttons">
                            <button type="button" class="item-button rollable attack-button" data-roll="d20+@abilities.strength.value" data-label="attack_{{item._id}}"
                                    title="{{localize 'MB.Attack'}}">{{localize 'MB.Attack'}}</button>
                        </div>
                        <div class="item-controls">
                            <a class="item-control item-toggle {{item.data.toggleClass}}" title='{{item.data.toggleTitle}}'><i class="fas fa-shield-alt"></i></a>
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{/each}}
                </ol>
                {{#if data.equippedWeapons.length}}
                    <div class="rule-text attack-rule">
                        {{localize 'MB.AttackCritText'}}
                        {{localize 'MB.AttackFumbleText'}}
                    </div>
                {{else}}
                    <div class="rule-text you-have-no">
                        {{localize 'MB.EquipAWeaponToAttack'}}
                    </div>
                {{/if}}
                <div class="violence-gutter"></div>
                <li class="items-header flexrow">
                    <h3 class="item-name flexrow">{{localize "MB.ItemTypeArmorPlural"}}</h3>
                    <div class="item-controls flexrow">
                    </div>
                </li>
                <ol class="item-list armor-list">
                    {{#if data.equippedArmor}}
                    <li class="item flexrow" data-item-id="{{data.equippedArmor._id}}">
                        <img src="{{data.equippedArmor.img}}" title="{{data.equippedArmor.name}}" width="24" height="24" />
                        <h4 class="item-name item-edit rollable">{{data.equippedArmor.name}}</h4>
                        <div class="item-buttons">
                            <div class="armor-tiers">
                                <div class="tiers">
                                    <label class="stat-label tier-label">{{ localize "MB.Tier" }}:</label>
                                    <ul class="tiers">
                                        <li><label><input class="tier-radio" type="radio" name="tier.value" value="0" {{#ifEq data.equippedArmor.data.tier.value 0}}checked{{/ifEq}}/><span class="tier-num">0</span><span class="tier-dmg">-0</span></label></li>
                                        <li><label><input class="tier-radio" type="radio" name="tier.value" value="1" {{#ifEq data.equippedArmor.data.tier.value 1}}checked{{/ifEq}}/><span class="tier-num">1</span><span class="tier-dmg">-d2</span></label></li>
                                        <li><label><input class="tier-radio" type="radio" name="tier.value" value="2" {{#ifEq data.equippedArmor.data.tier.value 2}}checked{{/ifEq}} {{#ifLt data.equippedArmor.data.tier.max 2}}disabled="true"{{/ifLt}}/><span class="tier-num">2</span><span class="tier-dmg">-d4</span></label></li>
                                        <li><label><input class="tier-radio" type="radio" name="tier.value" value="3" {{#ifEq data.equippedArmor.data.tier.value 3}}checked{{/ifEq}} {{#ifLt data.equippedArmor.data.tier.max 3}}disabled="true"{{/ifLt}}/><span class="tier-num">3</span><span class="tier-dmg">-d6</span></label></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="item-controls">
                            <a class="item-control item-toggle {{data.equippedArmor.data.toggleClass}}" title='{{data.equippedArmor.data.toggleTitle}}'><i class="fas fa-shield-alt"></i></a>
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{/if}}
                    {{#if data.equippedShield}}
                    <li class="item flexrow" data-item-id="{{data.equippedShield._id}}">
                        <img src="{{data.equippedShield.img}}" title="{{data.equippedShield.name}}" width="24" height="24" />
                        <h4 class="item-name item-edit rollable">{{data.equippedShield.name}}</h4>
                        <div class="item-buttons">
                            <span class="rule-text shield-rule">{{localize 'MB.ShieldUseText'}}</span>
                        </div>
                        <div class="item-controls">
                            <a class="item-control item-toggle {{data.equippedShield.data.toggleClass}}" title='{{data.equippedShield.data.toggleTitle}}'><i class="fas fa-shield-alt"></i></a>
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{/if}}
                    {{#unless data.equippedArmor}}
                      {{#unless data.equippedShield}}
                        <div class="rule-text you-have-no">
                            {{localize 'MB.EquipArmorToAbsorb'}}
                        </div>
                      {{/unless}}
                    {{/unless}}
                </ol>
            </ol>
            <div class="underarmor-row">
                <div class="incoming-attack">
                    <div>
                        <button type="button" class="item-button rollable defend-button" title="{{localize 'MB.Defend'}}">{{localize "MB.Defend"}}</button>
                    </div>
                    <div class="rule-text defend-rule">
                        {{localize 'MB.DefendCritText'}}
                        {{localize 'MB.DefendFumbleText'}}
                    </div>
                </div>
            </div>
        </div>

        {{!-- Feats Tab --}}
        <div class="tab specials-tab" data-group="primary" data-tab="feats">
            <ol class="items-list inventory-list">
                {{!--
                <li class="items-header flexrow">
                    <h3 class="item-name flexrow">{{localize "MB.ItemTypeFeatPlural"}}</h3>
                    <div class="item-controls flexrow">
                    </div>
                </li>
                --}}
                <ol class="item-list">
                    {{#each data.feats as |item id|}}
                    <li class="item flexrow" data-item-id="{{item._id}}">
                        <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
                        <h4 class="item-name item-edit rollable">{{item.name}}</h4>
                        <div class="item-buttons">
                            {{#if item.data.rollLabel}}
                                <button type="button" class="item-button rollable feat-button" data-roll="{{item.data.rollFormula}}" data-label="{{item.data.rollLabel}}"
                                        title="{{item.data.rollLabel}}">{{item.data.rollLabel}}</button>
                            {{/if}}
                        </div>
                        <div class="item-controls">
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{/each}}
                </ol>
                {{#unless data.feats.length}}
                    <div class="rule-text you-have-no">
                        {{localize 'MB.YouHaveNoFeats'}}
                    </div>
                {{/unless}}
            </ol>
        </div>

        {{!-- Powers Tab --}}
        <div class="tab powers-tab" data-group="primary" data-tab="powers">
            <div class="powers-top-row">
                <div class="powers-gutter">
                </div>
                <div class="wield-power">
                    <button type="button" class="rollable wield-power-button">{{localize "MB.WieldAPower"}}</button>
                    <span class="rule-text wield-rule">{{localize 'MB.WieldAPowerText'}}</span>
                </div>
                <div class="powers-gutter">
                </div>
                <div class="uses-remaining">
                    <div>
                        <label class="stat-label uses-remaining-label">{{localize "MB.PowerUsesRemaining"}}:</label>
                        <input class="stat-input" name="data.powerUses.value" type="number" value="{{data.powerUses.value}}" data-dtype="Number" />
                    </div>
                    <span class="rule-text rollable powers-per-day-text">{{localize "MB.PowersPerDayText"}}</span>
                </div>
            </div>
            <ol class="items-list inventory-list">
                <li class="items-header flexrow">
                    <h3 class="item-name flexrow">{{localize "MB.ItemTypeScrollPlural"}}</h3>
                    <div class="item-controls flexrow">
                    </div>
                </li>
                <ol class="item-list">
                    {{#each data.scrolls as |item id|}}
                    <li class="item flexrow" data-item-id="{{item._id}}">
                        <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
                        <h4 class="item-name item-edit rollable">{{item.name}}</h4>
                        <div class="item-buttons">
                        </div>
                        <div class="item-controls">
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{/each}}
                </ol>
                {{#unless data.scrolls.length}}
                    <div class="rule-text you-have-no">
                        {{localize 'MB.YouHaveNoScrolls'}}
                    </div>
                {{/unless}}
            </ol>
        </div>

        {{!-- Equipment Tab --}}
        <div class="tab equipment-tab" data-group="primary" data-tab="equipment">
            <div class="equipment-top-row">
                <div class="silver">
                    <span class="stat-label silver-label">{{ localize "MB.Silver" }}:</span>
                    <input class="stat-input silver-input" name="data.silver" type="number" value="{{data.silver}}" data-dtype="Number" />  
                </div>
                <div class="carry-block">
                    <div>
                        <span class="stat-label carrying-label">{{ localize "MB.Carrying" }}:</span>
                        <span class="stat-value">{{data.carryingCount}}</span>
                        /
                        <span class="stat-value">{{data.carryingCapacity}}</span>
                        <span class="stat-label container-label">{{ localize "MB.ContainerAmountIn" }}:</span>
                        <span class="stat-value">{{data.containerSpace}}</span>
                        /
                        <span class="stat-value">{{data.containerCapacity}}</span>
                    </div>
                    <div>
                        <span class="rule-text {{data.encumberedClass}}">
                            {{localize 'MB.CarryingRule'}}
                        </span>
                    </div>
                </div>
            </div>
            <ol class="items-list equipment-list">
                <li class="items-header flexrow">
                    <h3 class="item-name flexrow">{{localize "MB.Equipment"}}</h3>
                    <div class="item-controls flexrow">
                        <a class="item-control item-create" title='{{localize "MB.ItemCreate"}}'>
                            <i class="fas fa-plus"></i> {{localize "MB.Add"}}
                        </a>
                    </div>
                </li>
                <ol class="item-list">
                    {{#each data.equipment as |item id|}}
                    <li class="item flexrow" data-item-id="{{item._id}}">
                        <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
                        <h4 class="item-name item-edit rollable">
                            {{item.name}}
                            {{#ifEq item.type 'container'}}
                              ({{localize 'MB.ContainerHolds'}} {{item.data.capacity}})
                            {{/ifEq}}
                            {{#ifGt item.data.quantity 1}}
                              ({{item.data.quantity}})
                            {{/ifGt}}
                        </h4>
                        <div class="item-buttons">
                        </div>
                        <div class="item-controls">
                            {{#ifEq item.type 'misc'}}
                                <a class="item-control item-qty-plus" title="Add Quantity"><i class="fas fa-plus"></i></a>
                                &nbsp;
                                <a class="item-control item-qty-minus" title="Subtract Quantity"><i class="fas fa-minus"></i></a>
                                &nbsp;
                            {{/ifEq}}
                            {{#if item.data.equippable}}
                                <a class="item-control item-toggle {{item.data.toggleClass}}" title='{{item.data.toggleTitle}}'><i class="fas fa-shield-alt"></i></a>
                            {{/if}}
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{/each}}
                </ol>
            </ol>
        </div>

    </section>
</form>