<form class="{{cssClass}} flexcol" autocomplete="off">
  {{> systems/morkborg/templates/actor/char-sheet-header.html }} {{!-- Sheet Tab
  Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="obituary">{{ localize 'MB.TabObituary' }}</a>
    <a class="item" data-tab="violence">{{ localize 'MB.TabViolence' }}</a>
    <a class="item" data-tab="feats">{{ localize 'MB.TabFeats' }}</a>
    <a class="item" data-tab="powers">{{ localize 'MB.Powers' }}</a>
    <a class="item" data-tab="equipment">{{ localize 'MB.TabTreasures' }}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{> systems/morkborg/templates/actor/obituary-tab.html }} {{>
    systems/morkborg/templates/actor/violence-tab.html }} {{>
    systems/morkborg/templates/actor/feats-tab.html }} {{>
    systems/morkborg/templates/actor/powers-tab.html }} {{>
    systems/morkborg/templates/actor/treasures-tab.html }}
  </section>
</form>
