<form class="roll-card">
  <div class="card-title">{{cardTitle}}</div>
  <div class="roll-result">
    <div class="roll-title">
      <span>{{rollFormula}}</span>
    </div>
    <div class="roll-row">
      <span>{{xtotal roll}}</span>
    </div>
    {{#if outcomeText}}
    <div class="outcome-row">
      <span class="outcome-text">{{outcomeText}}</span>
    </div>
    {{/if}}
  </div>
</form>
