<form class="roll-card">
  <div class="card-title">{{cardTitle}}</div>
  <div class="test-roll">
    <div class="outcome-text">
      <span class="take-damage">{{outcomeText}}</span>
    </div>
  </div>
</form>
