{{!-- Quantity --}}
<div class="form-group">
  <label>{{ localize "MB.Quantity" }}:</label>
  <input
    type="text"
    name="system.quantity"
    value="{{data.system.quantity}}"
    placeholder="1"
    data-dtype="Number"
  />
</div>
