<nav class="sheet-tabs tabs" data-group="primary">
  <a class="item" data-tab="description">{{ localize "MB.TabDescription" }}</a>
  <a class="item" data-tab="details">{{ localize "MB.TabDetails" }}</a>
</nav>
