<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>

        <section class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'MB.Name' }}"/>
            </h1>

<!--             <aside class="header-classname flexcol">
                <div class="charname">
                    <label>{{data.class.name}}</label>
                </div>
            </aside>     -->

            {{!-- Character Summary --}}
            <ul class="attributes abilities flexrow">
                {{#each data.abilities as |ability key|}}
                    <li class="attribute">
                        <h4 class="attribute-name box-title rollable" data-roll="d20+@abilities.{{key}}.score" data-label="{{key}}">{{ ability.label }}</h4>
                        <div class="attribute-value multiple">
                           <input class="left-column-input" type="text" name="data.abilities.{{key}}.score" value="{{numberFormat ability.score decimals=0 sign=true}}" data-dtype="Number"/>
                        </div>
                    </li>
                {{/each}}
            </ul>

            {{!-- Header Attributes --}}
            <ul class="attributes flexrow">
                <li class="attribute">
                    <h4 class="attribute-name box-title">{{ localize "MB.HitPoints" }}</h4>
                    <div class="attribute-value multiple">
                        <input name="data.hp.current" type="text" value="{{data.hp.current}}" placeholder="10" data-dtype="Number"/>
                        <span class="sep"> / </span>
                        <input name="data.hp.max" type="text" value="{{data.hp.max}}" placeholder="10" data-dtype="Number"/>
                    </div>
                    <footer class="attribute-footer">
                        <span>{{ localize "MB.Current"}} / {{ localize "MB.Max"}}</span>
                    </footer>                    
                </li>
                <li class="attribute">
                    <h4 class="attribute-name box-title">{{ localize "MB.Omens" }}</h4>
                    <div class="attribute-value multiple">
                        <input name="data.omens" type="text" value="{{data.omens}}" placeholder="10" data-dtype="Number"/>
                    </div>
                    <footer class="attribute-footer">
                        <span>{{data.class.omenDie}} {{ localize "MB.PerRest"}}</span>
                    </footer>                        
                </li>
                <li class="attribute">
                    <h4 class="attribute-name box-title">{{ localize "MB.Powers" }}</h4>
                    <div class="attribute-value multiple">
                        <input name="data.powers" type="text" value="{{data.powers}}" placeholder="10" data-dtype="Number"/>
                    </div>
                    <footer class="attribute-footer">
                        <span>PRE + 1d4 {{ localize "MB.PerDay"}}</span>
                    </footer>    
                </li>
            </ul>
        </section>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        {{!-- <a class="item active" data-tab="abilities">Abilities</a> --}}
        <a class="item" data-tab="inventory">Inventory</a>
        <a class="item" data-tab="class">Class</a>
        <a class="item" data-tab="description">Background</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Abilities Tab --}}
        {{!--
        <div class="tab abilities" data-group="primary" data-tab="abilities">
            <div class="ability-grid">
                {{#each data.abilities as |ability key|}}
                    <div class="ability-name">
                        <span class="rollable" data-roll="d20+@abilities.{{key}}.score" data-label="{{key}}">{{ability.label}}</span>
                    </div>
                    <div class="ability-score">
                        <input class="left-column-input ability-value" type="text" name="data.abilities.{{key}}.score" value="{{numberFormat ability.score decimals=0 sign=true}}" data-dtype="Number"/>
                    </div>
                {{/each}}
            </div>
        </div>
        --}}

        {{!-- Inventory Tab --}}
        <div class="tab items" data-group="primary" data-tab="inventory">
            <ol class="items-list inventory-list">
                <li class="items-header flexrow">
                    <h3 class="item-name flexrow">{{localize "MB.ItemTypeWeaponPlural"}}</h3>
                    <div class="item-controls flexrow">
                        <a class="item-control item-create" title='{{localize "MB.ItemCreate"}}'>
                            <i class="fas fa-plus"></i> {{localize "MB.Add"}}
                        </a>
                    </div>
                </li>            
                <ol class="item-list">

                    {{#each actor.weapons as |item id|}}
                    <li class="item flexrow" data-item-id="{{item._id}}">
                        <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
                        <h4 class="item-name">{{item.name}}</h4>
                        <div class="item-buttons">
                            <button class="item-button rollable" data-roll="d20+@abilities.strength.score" data-label="attack_{{item._id}}"
                                    title="{{item.data.attackLabel}}">{{item.data.attackLabel}}</button>
                            <button class="item-button rollable" data-roll="{{item.data.damageDie}}" data-label="damage_{{item._id}}"
                                    title="{{item.data.damageLabel}}">{{item.data.damageLabel}}</button>
                        </div>
                        <div class="item-group">                          
                        </div>
                        <div class="item-controls">
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{/each}}

                </ol>

                <li class="items-header flexrow">
                    <h3 class="item-name flexrow">{{localize "MB.ItemTypeArmorPlural"}}</h3>
                    <div class="item-controls flexrow">
                        <a class="item-control item-create" title='{{localize "MB.ItemCreate"}}'>
                            <i class="fas fa-plus"></i> {{localize "MB.Add"}}
                        </a>
                    </div>
                </li>   
                <ol class="item-list">
                    {{#each actor.armor as |item id|}}
                    <li class="item flexrow" data-item-id="{{item._id}}">
                        <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
                        <h4 class="item-name">{{item.name}}</h4>
                        <div class="item-buttons">
                            {{#ifEquals item.type "armor"}}
                                <button class="item-button rollable" data-roll="d20+@abilities.agility.score" data-label="defend_{{item._id}}"
                                        title="{{localize 'MB.Defend'}}">{{localize "MB.Defend"}}</button>
                                <button class="item-button rollable" data-roll="{{item.data.damageReductionDie}}" data-label="damageReduction_{{item._id}}"
                                        title="{{localize 'MB.DamageReduction'}}">{{item.data.damageReductionDie}} {{localize "MB.DamageReduction"}}</button>                                    
                            {{/ifEquals}}
                        </div>
                        <div class="item-controls">
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{/each}}
                </ol>

                <li class="items-header flexrow">
                    <h3 class="item-name flexrow">{{localize "MB.ItemTypeScrollPlural"}}</h3>
                    <div class="item-controls flexrow">
                        <a class="item-control item-create" title='{{localize "MB.ItemCreate"}}'>
                            <i class="fas fa-plus"></i> {{localize "MB.Add"}}
                        </a>
                    </div>
                </li>  
                <ol class="item-list">
                    {{#each actor.scrolls as |item id|}}
                    <li class="item flexrow" data-item-id="{{item._id}}">
                        <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
                        <h4 class="item-name">{{item.name}}</h4>
                        <div class="item-buttons">
                            {{!--
                            <button class="item-button rollable" data-roll="d20+@abilities.presence.score" data-label="wieldpower_{{item._id}}"
                                    title="{{localize 'MB.WieldPower'}}">{{localize "MB.WieldPower"}}</button>                            
                            --}}
                        </div>
                        <div class="item-controls">
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{/each}}
                </ol>   

                <li class="items-header flexrow">
                    <h3 class="item-name flexrow">{{localize "MB.ItemTypeMiscPlural"}}</h3>
                    <div class="item-controls flexrow">
                        <a class="item-control item-create" title='{{localize "MB.ItemCreate"}}'>
                            <i class="fas fa-plus"></i> {{localize "MB.Add"}}
                        </a>
                    </div>
                </li>
                <ol class="item-list">
                    {{#each actor.misc as |item id|}}
                    <li class="item flexrow" data-item-id="{{item._id}}">
                        <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
                        <h4 class="item-name">{{item.name}}</h4>
                        <div class="item-buttons">
                        </div>
                        <div class="item-controls">
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{/each}}
                </ol>
            </ol>    
        </div>

        {{!-- Class Tab --}}
        <div class="tab" data-group="primary" data-tab="class">
            <div class="form-group">
                <label>{{ localize "MB.ClassName" }}</label>
                <input type="text" name="data.class.name" value="{{data.class.name}}" placeholder="" data-dtype="String" />
            </div>
            <div class="form-group">
                <label>{{ localize "MB.ClassOmenDie" }}</label>
                <input type="text" name="data.class.omenDie" value="{{data.class.omenDie}}" placeholder="1d2" data-dtype="String" />
            </div> 
            <div class="form-group">
                <label>{{ localize "MB.Description" }}</label>
            </div>
            {{!--
            {{editor content=data.class.description target="data.class.description" button=true owner=owner editable=editable}}
            --}}
            <textarea class="classdescription" name="data.class.description">{{data.class.description}}</textarea>
        </div>

        {{!-- Background Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{!-- 
            {{editor content=data.background target="data.background" button=true owner=owner editable=editable}}
            --}}
            <textarea class="background" name="data.background">{{data.background}}</textarea>
        </div>

</form>