<form class="roll-card attack-roll-card">
    <div class="card-title">
        {{localize weaponTypeKey}} {{localize 'MB.Attack'}}
    </div>
    {{#each items as |item id|}}
        <div class="item-row">
            <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
            <span class="item-name">{{item.name}}</span>
        </div>
    {{/each}}
    <div class="attack-roll">
        <div class="roll-title">
            <span>{{localize 'MB.Attack'}}: {{attackRoll.formula}}</span>
        </div>
        <div class="roll-result">
            <span>{{attackRoll.total}}</span>
        </div>
    </div>
    <div class="outcome-text">
        <span class="attack-comparison">{{attackComparison}}:</span><span class="attack-outcome">{{attackOutcome}}</span>
    </div>
    {{#if damageRoll}}
        <div class="damage-roll">
            <div class="roll-title">
                <span>{{localize 'MB.Damage'}}: {{damageRoll.formula}}</span>
            </div>
            <div class="roll-result">
                <span>{{damageRoll.total}}</span>
            </div>
        </div>
    {{/if}}
    {{#if targetArmorRoll}}
        <div class="target-armor-roll">
            <div class="roll-title">
                <span>{{localize 'MB.TargetArmor'}}: {{targetArmorRoll.formula}}</span>
            </div>
            <div class="roll-result">
                <span>{{targetArmorRoll.total}}</span>
            </div>
        </div>
    {{/if}}
    {{#if takeDamage}}
        <div class="outcome-text">
            <span class="take-damage">{{takeDamage}}</span>
        </div>
    {{/if}}
</form>