<form class="{{cssClass}} flexcol" autocomplete="off">
    {{!-- Character Sheet Header --}}
    <header class="sheet-header">
        <div class="header-col1">
            <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
        </div>
        <div class="header-gutter-col">
        </div>
        <div class="header-col2">
            <div class="charname-row">
                <input class="charname" name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'MB.Name' }}" spellcheck="false"/>                
            </div>
            <div class="classname-row">
                <input class="classname" name="classname" type="text" value="{{data.class.name}}" placeholder="{{ localize 'MB.ClassName' }}"/>                
            </div>
            <div class="hitpoints-row">
                <span class="stat-label">{{ localize "MB.HitPoints" }}:</span>
                <input class="stat-input" name="data.hp.current" type="number" value="{{data.hp.current}}" data-dtype="Number"/>
                /
                <input class="stat-input" name="data.hp.max" type="number" value="{{data.hp.max}}" data-dtype="Number"/>
            </div>
            <div class="omens-row">
                <span class="stat-label">{{ localize "MB.Omens" }}:</span>
                <input class="stat-input" name="data.omens" type="number" value="{{data.omens}}" data-dtype="Number"/>
                <span class="rule-text omen-rule rollable">{{data.class.omenDie}} {{ localize "MB.PerRest"}}</span>
            </div>
            <div class="miseries-row">
                <label class="stat-label miseries-label">{{ localize "MB.Miseries" }}:</label>
                <ul class="miseries">
                    <li><label><input type="radio" name="data.miseries" value="0" data-dtype="Number" {{#ifEq data.miseries 0}}checked{{/ifEq}}/><span>0</span></label></li>                  
                    <li><label><input type="radio" name="data.miseries" value="1" data-dtype="Number" {{#ifEq data.miseries 1}}checked{{/ifEq}}/><span>1</span></label></li>                  
                    <li><label><input type="radio" name="data.miseries" value="2" data-dtype="Number" {{#ifEq data.miseries 2}}checked{{/ifEq}}/><span>2</span></label></li>                  
                    <li><label><input type="radio" name="data.miseries" value="3" data-dtype="Number" {{#ifEq data.miseries 3}}checked{{/ifEq}}/><span>3</span></label></li>                  
                    <li><label><input type="radio" name="data.miseries" value="4" data-dtype="Number" {{#ifEq data.miseries 4}}checked{{/ifEq}}/><span>4</span></label></li>                  
                    <li><label><input type="radio" name="data.miseries" value="5" data-dtype="Number" {{#ifEq data.miseries 5}}checked{{/ifEq}}/><span>5</span></label></li>                  
                    <li><label><input type="radio" name="data.miseries" value="6" data-dtype="Number" {{#ifEq data.miseries 6}}checked{{/ifEq}}/><span>6</span></label></li>                  
                    <li><label><input type="radio" name="data.miseries" value="7" data-dtype="Number" {{#ifEq data.miseries 7}}checked{{/ifEq}}/><span>X</span></label></li>                  
                </ul>
            </div>
        </div>
        <div class="header-gutter-col">
        </div>
        <div class="header-col3">
          <div class="ability-row">
            <input class="ability-input" type="text" name="data.abilities.strength.score" value="{{numberFormat data.abilities.strength.score decimals=0 sign=true}}" data-dtype="Number" size="3" />
            <span class="ability-label rollable" data-roll="d20+@abilities.strength.score" data-label="{{data.abilities.strength.label}}">{{ localize 'MB.StrengthAbbreviation' }}</span>
          </div>
          <div class="ability-row">
            <input class="ability-input" type="text" name="data.abilities.agility.score" value="{{numberFormat data.abilities.agility.score decimals=0 sign=true}}" data-dtype="Number" size="3" />
            <span class="ability-label rollable" data-roll="d20+@abilities.agility.score" data-label="{{data.abilities.agility.label}}">{{ localize 'MB.AgilityAbbreviation' }}</span>
          </div>
          <div class="ability-row">
            <input class="ability-input" type="text" name="data.abilities.presence.score" value="{{numberFormat data.abilities.presence.score decimals=0 sign=true}}" data-dtype="Number" size="3" />
            <span class="ability-label rollable" data-roll="d20+@abilities.presence.score" data-label="{{data.abilities.presence.label}}">{{ localize 'MB.PresenceAbbreviation' }}</span>
          </div>
          <div class="ability-row">
            <input class="ability-input" type="text" name="data.abilities.toughness.score" value="{{numberFormat data.abilities.toughness.score decimals=0 sign=true}}" data-dtype="Number" size="3" />
            <span class="ability-label rollable" data-roll="d20+@abilities.toughness.score" data-label="{{data.abilities.toughness.label}}">{{ localize 'MB.ToughnessAbbreviation' }}</span>
          </div>
        </div>
        </header>

    {{!-- Character Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="clazz">{{ localize 'MB.Obituary' }}</a>
        <a class="item" data-tab="violence">{{ localize 'MB.Violence' }}</a>
        <a class="item" data-tab="powers">{{ localize 'MB.Powers' }}</a>
        <a class="item" data-tab="equipment">{{ localize 'MB.Treasures' }}</a>
        <a class="item" data-tab="notes">{{ localize 'MB.Scrawls' }}</a>
    </nav>

    {{!-- Character Sheet Body --}}
    <section class="sheet-body">

        {{!-- Class Tab --}}
        <div class="tab class-tab" data-group="primary" data-tab="clazz">
            <div class="class-tab-inner">
                <div class="class-top-row">
                    <label class="classname-label">{{ localize "MB.ClassName" }}:</label>
                    <input class="classname-input" type="text" name="data.class.name" value="{{data.class.name}}" placeholder="{{localize 'MB.ClassName'}}" data-dtype="String" />
                    <label class="omendie-label">{{ localize "MB.ClassOmenDie" }}:</label>
                    <input class="stat-input omendie-input" type="text" name="data.class.omenDie" value="{{data.class.omenDie}}" placeholder="1d2" data-dtype="String" />
                </div>
                {{editor content=data.class.description target="data.class.description" button=true owner=owner editable=editable}}
                <div class="class-tab-gutter"></div>
                {{editor content=data.background target="data.background" button=true owner=owner editable=editable}}
            </div>
        </div>

        {{!-- Violence Tab --}}
        <div class="tab violence-tab" data-group="primary" data-tab="violence">
            <ol class="items-list inventory-list">
                <li class="items-header flexrow">
                    <h3 class="item-name flexrow">{{localize "MB.ItemTypeWeaponPlural"}}</h3>
                    <div class="target-armor">
                        <span class="stat-label">{{localize 'MB.TargetArmor'}}:</span>
                        <input class="stat-input versus-armor" name="data.targetArmorDie" type="text" value="{{data.targetArmorDie}}" data-dtype="String" placeholder="1d2" />
                    </div>
                </li>            
                <ol class="item-list weapon-list">
                    {{#each data.equippedWeapons as |item id|}}
                    <li class="item flexrow" data-item-id="{{item._id}}">
                        <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
                        <h4 class="item-name">{{item.name}}</h4>
                        <div class="item-fields">
                            <span class="item-field">{{item.data.handed}}H</span>
                            <span class="item-field">{{item.data.damageDie}}</span>
                        </div>
                        <div class="item-buttons">
                            <button class="item-button rollable attack-button" data-roll="d20+@abilities.strength.score" data-label="attack_{{item._id}}"
                                    title="{{localize 'MB.Attack'}}">{{localize 'MB.Attack'}}</button>
                        </div>
                        <div class="item-controls">
                            <a class="item-control item-toggle {{item.data.toggleClass}}" title='{{item.data.toggleTitle}}'><i class="fas fa-shield-alt"></i></a>
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{/each}}
                </ol>
                <div class="rule-text attack-rule">
                    {{localize 'MB.AttackCritText'}}
                    {{localize 'MB.AttackFumbleText'}}
                </div>
                <div class="violence-gutter"></div>
                <li class="items-header flexrow">
                    <h3 class="item-name flexrow">{{localize "MB.ItemTypeArmorPlural"}}</h3>
                    <div class="item-controls flexrow">
                    </div>
                </li>   
                <ol class="item-list armor-list">
                    {{#if data.equippedArmor}}
                    <li class="item flexrow" data-item-id="{{data.equippedArmor._id}}">
                        <img src="{{data.equippedArmor.img}}" title="{{data.equippedArmor.name}}" width="24" height="24" />
                        <h4 class="item-name">{{data.equippedArmor.name}}</h4>
                        <div class="item-buttons">
                            <div class="armor-tiers">
                                <div class="tiers">
                                    <label class="stat-label tier-label">{{ localize "MB.Tier" }}:</label>
                                    <ul class="tiers">
                                        <li><label><input class="tier-radio" type="radio" name="currentTier" value="1" {{#ifEq data.equippedArmor.data.currentTier 1}}checked{{/ifEq}}/><span class="tier-num">1</span><span class="tier-dmg">-d2</span></label></li>
                                        <li><label><input class="tier-radio" type="radio" name="currentTier" value="2" {{#ifEq data.equippedArmor.data.currentTier 2}}checked{{/ifEq}} {{#ifLt data.equippedArmor.data.maxTier 2}}disabled="true"{{/ifLt}}/><span class="tier-num">2</span><span class="tier-dmg">-d4</span></label></li>
                                        <li><label><input class="tier-radio" type="radio" name="currentTier" value="3" {{#ifEq data.equippedArmor.data.currentTier 3}}checked{{/ifEq}} {{#ifLt data.equippedArmor.data.maxTier 3}}disabled="true"{{/ifLt}}/><span class="tier-num">3</span><span class="tier-dmg">-d6</span></label></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="item-controls">
                            <a class="item-control item-toggle {{data.equippedArmor.data.toggleClass}}" title='{{data.equippedArmor.data.toggleTitle}}'><i class="fas fa-shield-alt"></i></a>
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{/if}}
                    {{#if data.equippedShield}}
                    <li class="item flexrow" data-item-id="{{data.equippedShield._id}}">
                        <img src="{{data.equippedShield.img}}" title="{{data.equippedShield.name}}" width="24" height="24" />
                        <h4 class="item-name">{{data.equippedShield.name}}</h4>
                        <div class="item-buttons">
                            <span class="rule-text shield-rule">{{localize 'MB.ShieldUseText'}}</span>
                        </div>
                        <div class="item-controls">
                            <a class="item-control item-toggle {{data.equippedShield.data.toggleClass}}" title='{{data.equippedShield.data.toggleTitle}}'><i class="fas fa-shield-alt"></i></a>
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{/if}}
                </ol>  
                <div class="underarmor-row">
                    <div class="incoming-attack">
                        <div>
                            <label class="stat-label">{{localize 'MB.IncomingAttack'}}:</label>
                            <input class="stat-input incoming-damage" name="data.incomingAttackDamageDie" type="text" value="{{data.incomingAttackDamageDie}}" data-dtype="String" placeholder="1d6" />                            
                            <button class="item-button rollable defend-button" title="{{localize 'MB.Defend'}}">{{localize "MB.Defend"}}</button>
                        </div>
                        <div class="rule-text defend-rule">
                            {{localize 'MB.DefendCritText'}}
                            {{localize 'MB.DefendFumbleText'}}
                        </div>
                    </div>
                </div>
            </ol>                        
        </div>

        {{!-- Powers Tab --}}
        <div class="tab powers-tab" data-group="primary" data-tab="powers">
            <div class="powers-top-row">
                <div class="powers-gutter">
                </div>
                <div class="wield-power">
                    <button class="rollable wield-power-button" data-roll="d20+@abilities.presence.score" data-label="{{localize 'MB.WieldAPower'}}" >{{localize "MB.WieldAPower"}}</button>
                    <span class="rule-text wield-rule">{{localize 'MB.WieldAPowerText'}}</span>
                </div>
                <div class="powers-gutter">
                </div>
                <div class="uses-remaining">
                    <div>
                        <label class="stat-label uses-remaining-label">{{localize "MB.UsesRemaining"}}:</label>
                        <input class="stat-input" name="data.powerUsesRemaining" type="number" value="{{data.powerUsesRemaining}}" data-dtype="Number" />
                    </div>
                    <span class="rule-text rollable powers-per-day-text">{{localize "MB.PowersPerDayText"}}</span>
                </div>
            </div>
            <ol class="items-list inventory-list">
                <li class="items-header flexrow">
                    <h3 class="item-name flexrow">{{localize "MB.ItemTypeScrollPlural"}}</h3>
                    <div class="item-controls flexrow">
                    </div>
                </li>  
                <ol class="item-list">
                    {{#each data.scrolls as |item id|}}
                    <li class="item flexrow" data-item-id="{{item._id}}">
                        <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
                        <h4 class="item-name">{{item.name}}</h4>
                        <div class="item-buttons">
                        </div>
                        <div class="item-controls">
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{/each}}
                </ol>   
            </ol>
        </div>

        {{!-- Equipment Tab --}}
        <div class="tab equipment-tab" data-group="primary" data-tab="equipment">
            <div class="equipment-top-row">
                <span class="stat-label silver-label">{{ localize "MB.Silver" }}:</span>
                <input class="stat-input silver-input" name="data.silver" type="number" value="{{data.silver}}" data-dtype="Number" />
                <span class="stat-label carrying-label">{{ localize "MB.Carrying" }}:</span>
                <input class="stat-input" name="data.carryingCount" type="number" value="{{data.carryingCount}}" data-dtype="Number" />
                /
                <input class="stat-input" name="data.carryingCapacity" type="number" value="{{data.carryingCapacity}}" data-dtype="Number" />
                <span class="rule-text carrying-rule {{data.encumberedClass}}">
                    {{localize 'MB.CarryingRule'}}
                </span>
            </div> 
            <ol class="items-list equipment-list">
                <li class="items-header flexrow">
                    <h3 class="item-name flexrow">{{localize "MB.Equipment"}}</h3>
                    <div class="item-controls flexrow">
                        <a class="item-control item-create" title='{{localize "MB.ItemCreate"}}'>
                            <i class="fas fa-plus"></i> {{localize "MB.Add"}}
                        </a>
                    </div>
                </li>
                <ol class="item-list">
                    {{#each data.equipment as |item id|}}
                    <li class="item flexrow" data-item-id="{{item._id}}">
                        <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
                        <h4 class="item-name">
                            {{item.name}}
                            {{#ifEq item.type 'container'}}
                              ({{localize 'MB.Holds'}} {{item.data.capacity}})
                            {{/ifEq}}
                        </h4>
                        <div class="item-buttons">
                        </div>
                        <div class="item-controls">
                            {{#if item.data.equippable}}
                                <a class="item-control item-toggle {{item.data.toggleClass}}" title='{{item.data.toggleTitle}}'><i class="fas fa-shield-alt"></i></a>
                            {{/if}}
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{/each}}
                </ol>
            </ol>
        </div>

        {{!-- Notes Tab --}}
        <div class="tab notes-tab" data-group="primary" data-tab="notes">
            {{editor content=data.notes target="data.notes" button=true owner=owner editable=editable}}
        </div>        
    </section>
</form>