<form class="flexcol {{cssClass}}" autocomplete="off">

    {{!-- Item Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile-img" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>
        <div class="header-details">
            <h1 class="item-name">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'MB.ItemName' }}"/>
            </h1>
            <div class="item-subtitle">
                <h4 class="item-type">{{item.type}}</h4>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="abilities">{{ localize "MB.Abilities" }}</a>
        <a class="item" data-tab="details">{{ localize "MB.TabDetails" }}</a>        
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Abilities Tab --}}
        <div class="tab" data-group="primary" data-tab="abilities">
            {{editor content=data.abilities target="data.abilities" button=true owner=owner editable=editable}}               
        </div>

        {{!-- Details Tab --}}
        <div class="tab" data-group="primary" data-tab="details">

            {{!-- Description --}}
            <div class="form-group">
                <label>{{ localize "MB.Description" }}:</label>
                <textarea name="data.description" rows="8">{{data.description}}</textarea>
            </div>

           {{!-- Starting hit points --}}
            <div class="form-group">
                <label>{{ localize "MB.ClassStartingHitPoints" }}:</label>
                <input type="text" name="data.startingHitPoints" value="{{data.startingHitPoints}}" placeholder="1d8" data-dtype="String" />
            </div>

           {{!-- Starting silver --}}
            <div class="form-group">
                <label>{{ localize "MB.ClassStartingSilver" }}:</label>
                <input type="text" name="data.startingSilver" value="{{data.startingSilver}}" placeholder="2d6*10" data-dtype="String" />
            </div>

            {{!-- Omen Die --}}
            <div class="form-group">
                <label>{{ localize "MB.ClassOmenDie" }}:</label>
                <input type="text" name="data.omenDie" value="{{data.omenDie}}" placeholder="1d2" data-dtype="String" />
            </div>
        </div>

    </section>
</form>