<form class="flexcol {{cssClass}}" autocomplete="off">

    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'MB.ItemName' }}" /></h1>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <!-- <a class="item" data-tab="description">{{ localize "MB.Description" }}</a> -->
        <a class="item" data-tab="details">{{ localize "MB.Details" }}</a>        
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Description Tab --}}
<!--         <div class="tab" data-group="primary" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>
 -->
        {{!-- Details Tab --}}
        <div class="tab" data-group="primary" data-tab="details">

            {{!-- Price --}}
            <div class="form-group">
                <label>{{ localize "MB.DamageDie" }}</label>
                <input type="text" name="data.damageDie" value="{{data.damageDie}}" placeholder="1d4" data-dtype="String" />
            </div> 

            <div class="form-group">
                <label>{{ localize "MB.PlusSpecial" }}</label>
                <input type="checkbox" name="data.plusSpecial" {{checked data.plusSpecial}}/>
            </div>             
        </div>

    </section>
</form>