<form class="roll-card defend-roll-card">
    <div class="card-title">
        {{localize 'MB.Defend'}}
    </div>
    {{#each items as |item id|}}
        <div class="item-row">
            <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
            <span class="item-name">{{item.name}}</span>
        </div>
    {{/each}}
    <div class="defend-roll">
        <div class="roll-title">
            <span>{{localize 'MB.Defend'}}: {{defenseRoll.formula}}</span>
        </div>
        <div class="roll-result">
            <span>{{defenseRoll.total}}</span>
        </div>
    <div class="damage-roll">
        <div class="roll-title">
            <span>{{localize 'MB.Damage'}}: {{damageRoll.formula}}</span>
        </div>
        <div class="roll-result">
            <span>{{damageRoll.total}}</span>
        </div>
    </div>
    {{#if armorRoll}}
        <div class="armor-roll">
            <div class="roll-title">
                {{localize 'MB.Armor'}}: {{armorRoll.formula}}
            </div>
            <div class="roll-result">
                <span>{{armorRoll.total}}</span>
            </div>
        </div>
    {{/if}}
</form>