<form id="scvm-form" class="custom-dialog scvmify-dialog">
    <div class="section">
        <div class="subtitle">Choose from Classes</div>
        <ul>
            {{#each this.classes}}
                <li>
                    <label><input name="{{this.pack}}" type="checkbox" class="class-checkbox" checked>
                        <div class="class-name">{{this.name}}</div></label>                    
                </li>
            {{/each}}    
        </ul>
        <div><a class="toggle-all">Toggle All</a>&nbsp; / &nbsp;<a class="toggle-none">Toggle None</a></div>
    </div>

    {{#if forActor}}
    <div class="section">
        <p>
            Destroy this character, and replace it with a new Scvm?
            WARNING: This cannot be undone!
        </p>
    </div>
    {{/if}}

    <div class="button-row">
        <button type="submit" class="button cancel-button" name="cancel" value="1">Cancel</button>
        <button type="submit" class="button scvm-button" name="scvm" value="1">Make Scvm</button>
    </div>
</form>
