/* ====================== */
/* Sheet */
/* ====================== */
.morkborg.sheet .window-content {
    overflow-y: hidden;
    padding: 5px;
    /* inherited background is parchment img bg */
    background: var(--window-background);
    font-size: 13px;
    color: var(--foreground-color);
    border-bottom: 1px solid #222222;
    border-left: 1px solid #222222;
    border-right: 1px solid #222222;
  }
  .morkborg.sheet .window-content form {
    height: 100%;
    overflow: hidden;
  }
  .morkborg.sheet {
    margin-top: 0;
  }
  .morkborg.sheet .editable .rollable:hover {
    color: var(--highlight-foreground-color);
    text-shadow: 0 0 10px var(--highlight-background-color);
    cursor: pointer;
  }
  .morkborg.sheet input[type="text"],
  .morkborg.sheet input[type="number"],
  .morkborg.sheet input[type="password"],
  .morkborg.sheet input[type="date"] {
    color: var(--foreground-color);
    border-radius: 0;
  }
  .morkborg.sheet input[type="text"]:focus,
  .morkborg.sheet input[type="number"]:focus,
  .morkborg.sheet input[type="password"]:focus,
  .morkborg.sheet input[type="date"]:focus,
  .morkborg.sheet input[type="time"]:focus,
  .morkborg.sheet input[type="text"]:hover,
  .morkborg.sheet input[type="number"]:hover,
  .morkborg.sheet input[type="password"]:hover,
  .morkborg.sheet input[type="date"]:hover,
  .morkborg.sheet input[type="time"]:hover {
    box-shadow: 0 0 5px var(--highlight-background-color);
  }
  .morkborg.sheet select:focus {
    box-shadow: 0 0 5px var(--highlight-background-color);
  }
  .morkborg.sheet button:hover,
  .morkborg.sheet button:focus {
    box-shadow: 0 0 5px var(--highlight-background-color);
  }
  .morkborg.sheet a:hover {
    text-shadow: 0 0 8px var(--highlight-background-color);
  }
  .morkborg.sheet textarea {
    border: 1px solid #7a7971;
    border-radius: 0;
    color: var(--foreground-color);
    font-family: var(--item-font);
    font-size: 14px;
    resize: none;
  }
  .morkborg.sheet textarea:hover {
    box-shadow: 0 0 5px var(--highlight-background-color);
  }
  .morkborg.sheet textarea:focus {
    box-shadow: 0 0 5px var(--highlight-background-color);
    outline: none;
  }
  .morkborg.sheet .profile-img {
    border: none;
  }
  /* ====================== */
  /* TinyMCE editor */
  /* ====================== */
  .morkborg.sheet .editor {
    color: var(--foreground-color);
    border: 1px solid #7a7971;
    font-family: var(--item-font);
  }
  .morkborg.sheet .tox.tox-tinymce .tox-edit-area__iframe {
    background: var(--background-color);
  }
  .mce-content-body {
    overflow-wrap: break-word;
    word-wrap: break-word;
    color: var(--foreground-color);
  }
  .morkborg .editor,
  .morkborg .editor-content {
    height: 100%;
  }
  .morkborg.sheet .editor {
    padding: 0 8px;
  }
  /* ====================== */
  /* Sheet Tabs */
  /* ====================== */
  .morkborg.sheet .sheet-tabs {
    flex: 0 0 30px;
    margin-bottom: 5px;
    /* font-family: "Modesto Condensed", "Palatino Linotype", serif; */
    font-size: 20px;
    font-weight: 700;
    /* TODO: track down the border-top and border-bottom getting inherited on these */
    border-top: none;
    border-bottom: none;
  }
  .morkborg.sheet .sheet-tabs .item {
    font-family: var(--h2-font);
    font-size: 22px;
    height: 30px;
    line-height: 32px;
    margin: 0 5px;
    width: 120px;
  }
  .morkborg.sheet .sheet-tabs .item:hover {
    color: var(--highlight-foreground-color);
    text-shadow: 0 0 10px var(--highlight-background-color);
  }
  .morkborg.sheet .sheet-tabs .item.active {
    text-shadow: none;
    background-color: var(--highlight-background-color);
    color: var(--highlight-foreground-color);
  }
  /* ====================== */
  /* Sheet Body */
  /* ====================== */
  .morkborg .sheet-body {
    overflow: hidden;
  }
  .morkborg .sheet-body .tab {
    height: 100%;
    overflow-y: auto;
  }
  .morkborg.sheet .sheet-body .form-group {
    margin-bottom: 8px;
  }
  .morkborg.sheet .sheet-body .form-group label {
    font-family: var(--h2-font);
    font-size: 20px;
    text-align: right;
    margin-right: 10px;
  }
  .morkborg.sheet .sheet-body .form-group input {
    font-family: var(--item-font);
    font-size: 14pt;
  }
  .morkborg.sheet .sheet-body .form-group select {
    font-family: var(--item-font);
    font-size: 14pt;
  }
  .morkborg.sheet .sheet-body .form-group.special {
    flex: 1;
  }