/* ====================== */
/* Character sheet */
/* ====================== */
.morkborg.sheet.actor.character {
    min-width: 742px;
    min-height: 650px;
  }
  /* ====================== */
  /* Character sheet header */
  /* ====================== */
  .morkborg.sheet.actor.character .sheet-header {
    flex: 0 0 200px;
  }
  .morkborg.sheet.actor.character .sheet-header .header-col1 {
    flex: 0 0 200px;
    margin: 5px;
    padding: 0;
  }
  .morkborg.sheet.actor.character .sheet-header .header-col2 {
    flex: 1 0 350px;
    margin: 5px;
    display: flex;
    flex-direction: column;
  }
  .morkborg.sheet.actor.character
    .sheet-header
    .header-col2
    .rest-buttons {
      margin-left: 14px;
      width: 170px;
  }
  .morkborg.sheet.actor.character
    .sheet-header
    .header-col2
    button {
      border: none;
      border-bottom: 2px solid #777;
      border-radius: 0;
      font-family: var(--h2-font);
      font-size: 14px;
      height: 28px;
  }
  .morkborg.sheet.actor.character
    .sheet-header
    .header-col2
    .broken-button {
      width: 80px;
  }
  .morkborg.sheet.actor.character
    .sheet-header
    .header-col2
    .rest-button {
      width: 80px;
  }
  .morkborg.sheet.actor.character
    .sheet-header
    .header-col2
    .get-better-button {
      width: 90px;
  }
  .morkborg.sheet.actor.character .sheet-header .header-col3 {
    flex: 0 0 120px;
    margin: 5px;
    display: flex;
    flex-direction: column;
  }
  .morkborg.sheet.actor.character .sheet-header .profile-img {
    height: 200px;
    width: 200px;
  }
  .morkborg.sheet.actor input[type="text"].actor-name {
    font-family: var(--h1-font);
    font-size: 38px;
    text-transform: uppercase;
  }
  .morkborg.sheet.actor.character .sheet-header .name-row {
    flex: 0 0 50px;
    margin-bottom: 7px;
  }
  .morkborg.sheet.actor.character .sheet-header .name-row input[type="text"] {
    height: 45px;
    width: 100%;
  }
  .morkborg.sheet.actor.character .sheet-header .classname-row {
    display: flex;
    flex: 0 0 30px;
    flex-direction: row;
    margin-bottom: 7px;
    width: 100%;
  }
  .morkborg.sheet.actor.character .sheet-header .classname-row img.classimg {
    height: 24px;
    width: 24px;
    flex: 0 0 24px;
    margin-right: 5px;
  }
  .morkborg.sheet.actor.character .sheet-header .classname-row label.classname {
    font-family: var(--h3-font);
    font-size: 28px;
    width: 100%;
  }
  .morkborg.sheet.actor.character .sheet-header .classname-row .item-controls {
    flex: 0 0 35px;
    text-align: right;
    margin-right: 0;
    /* TODO: fix vertical alignment in a better way */
    padding-top: 6px;
  }
  .morkborg.sheet.actor.character .sheet-header .hitpoints-row {
    display: flex;
    flex: 0 0 30px;
    margin-bottom: 7px;
  }
  .morkborg.sheet.actor.character .sheet-header .omens-row {
    display: flex;
    flex: 0 0 30px;
    margin-bottom: 7px;
    width: 100%;
  }
  .morkborg.sheet.actor.character .sheet-header .omens-row .omens-label:hover {
    // text-decoration: underline;
    // text-decoration-style: dotted;
    color: var(--highlight-foreground-color);
    text-shadow: 0 0 10px var(--highlight-background-color);
    cursor: pointer;  
  }
  .morkborg.sheet.actor.character .sheet-header .omen-rule {
    flex: 0 0 90px;
    margin-left: 10px;
    margin-right: 11px;
    margin-top: 10px;
    text-transform: lowercase;
  }
  .morkborg.sheet.actor.character .sheet-header .miseries-row {
    flex: 0 0 30px;
  }
  .morkborg.sheet.actor.character .sheet-header .stat-label {
    float: left;
  }
  .morkborg.sheet.actor.character .sheet-header .miseries-label {
    float: left;
  }
  .morkborg.sheet.actor.character .sheet-header ul.miseries {
    list-style-type: none;
    margin: 0;
    margin-top: 3px;
    padding: 0;
    float: left;
  }
  .morkborg.sheet.actor.character .sheet-header ul.miseries li {
    float: left;
  }
  .morkborg.sheet.actor.character .sheet-header ul.miseries label {
    display: block;
    padding: 4px;
    position: relative;
    padding-left: 20px;
  }
  .morkborg.sheet.actor.character
    .sheet-header
    ul.miseries
    label
    input[type="radio"] {
    display: none;
  }
  .morkborg.sheet.actor.character
    .sheet-header
    ul.miseries
    input[type="radio"]:checked
    + span {
    background: var(--highlight-background-color);
    color: var(--highlight-foreground-color);
    border: none;
  }
  .morkborg.sheet.actor.character .sheet-header ul.miseries label span {
    border: 1px solid #7a7971;
    width: 17px;
    height: 17px;
    position: absolute;
    overflow: hidden;
    line-height: 1.5;
    text-align: center;
    border-radius: 100%;
    font-size: 10pt;
    font-family: var(--item-font);
    left: 0;
    top: 50%;
  }
  .morkborg.sheet.actor.character
    .sheet-header
    ul.miseries
    li:last-child
    label
    span {
    background: var(--foreground-color);
    color: var(--background-color);
  }
  .morkborg.sheet.actor.character .sheet-header .ability-row {
    margin-bottom: 10px;
  }
  .morkborg.sheet.actor.character .sheet-header .ability-row:last-child {
    margin-bottom: 0;
  }
  .morkborg.sheet.actor.character .sheet-header .ability-label {
    font-family: var(--h2-font);
    font-size: 24px;
    margin-left: 5px;
    margin-top: 5px;
    float: left;
  }
  .morkborg.sheet.actor.character .sheet-header .ability-input {
    border: 1px solid #7a7971;
    font-family: var(--item-font);
    font-size: 14pt;
    text-align: center;
    padding: 5px;
    padding-top: 10px;
    line-height: 1.5;
    width: 42px;
    height: 42px;
    float: left;
    border-radius: 0;
    color: var(--foreground-color);
  }
/* ====================== */
/* Character sheet powers tab */
/* ====================== */
.morkborg.sheet.actor.character .sheet-body .powers-top-row {
    margin-top: 15px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
  }
  .morkborg.sheet.actor.character .sheet-body .wield-power {
    flex: 0 0 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .morkborg.sheet.actor.character .sheet-body .powers-gutter {
    flex: 0 0 20px;
  }
  .morkborg.sheet.actor.character .sheet-body .wield-power-button {
    width: 200px;
    margin-bottom: 10px;
    font-family: var(--h2-font);
    font-size: 24px;
    background-color: var(--foreground-color);
    color: var(--background-color);
    border: none;
    border-bottom: 2px solid #777;
    border-radius: 0;
  }
  .morkborg.sheet.actor.character .sheet-body .wield-rule {
    text-align: center;
  }
  .morkborg.sheet.actor.character .sheet-body div.uses-remaining {
    flex: 0 0 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .morkborg.sheet.actor.character .sheet-body .uses-remaining div {
    margin-bottom: 20px;
  }
  /* ====================== */
  /* Character sheet treasures (equipment) tab */
  /* ====================== */
  .morkborg.sheet.actor .sheet-body .equipment-top-row {
    margin-top: 10px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
  }
  .morkborg.sheet.actor .sheet-body .silver {
    flex: 0 0 200px;
  }
  .morkborg.sheet.actor .sheet-body .silver-input {
    width: 70px;
  }
  .morkborg.sheet.actor.character .sheet-body .carry-block {
    flex: 1;
    text-align: center;
  }
  .morkborg.sheet.actor.character .sheet-body .container-label {
    margin-left: 40px;
  }
  .morkborg.sheet.actor.character .sheet-body .encumbered {
    color: var(--highlight-background-color);
  }