/* ====================== */
/* Attack/Defend Custom Dialogs */
/* ====================== */
.custom-dialog .form-group {
    margin-bottom: 10px;
  }
  .custom-dialog .form-group label {
    font-family: var(--h2-font);
    font-size: 20px;
    margin-right: 10px;
    text-align: right;
  }
  .dialog-button.attack,
  .dialog-button.create {
    font-family: var(--h2-font);
    font-size: 20px;
  }
  .dialog-buttons button.dialog-button:active,
  .dialog-buttons button.dialog-button:focus,
  .dialog-buttons button.dialog-button:hover {
    box-shadow: 0 0 5px var(--highlight-background-color);
    text-shadow: 0 0 10px var(--highlight-background-color);
  }
  /* ====================== */
  /* Rest and Scvm Dialogs */
  /* ====================== */
  .custom-dialog {
    border: 1px solid #7a7971;
    font-size: 14px;
    margin: 0;
  }
  .custom-dialog .section {
    margin: 10px 10px 20px 10px;
  }
  .custom-dialog .subtitle {
    font-family: var(--h2-font);
    font-size: 22px;
  }
  .custom-dialog ul {
    list-style-type: none;
  }
  .custom-dialog li {
    margin: 0 0 10px 0;
  }
  .custom-dialog li input[type=checkbox],
  .custom-dialog li input[type=radio] {
    float: left;
  }
  .custom-dialog li input[type=checkbox] {
    height: 14px;
    width: 14px;
  }
  .custom-dialog li label div {
    display: block;
    margin-left: 30px;
  }
  .custom-dialog .button-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .custom-dialog .button-row button {
    border: none;
    border-bottom: 2px solid #777;
    border-radius: 0;
    font-family: var(--h2-font);
    font-size: 20px;
    width: 150px;
  }
  .custom-dialog .button-row button:active,
  .custom-dialog .button-row button:focus,
  .custom-dialog .button-row button:hover {
    box-shadow: 0 0 5px var(--highlight-background-color);
    text-shadow: 0 0 10px var(--highlight-background-color);
  }
  .scvm-dialog .class-name {
    text-transform: capitalize;
  }