:root {
  --background-color: #000000;
  --foreground-color: #ffffff;
  --foreground-alt-color: #ffe900;
  --highlight-background-color: #ffe900;
  --highlight-foreground-color: #000000;
  --sidebar-background-color: #000000;
  --sidebar-foreground-color: #ffffff;
  --sidebar-button-background-color: #000000;
  --sidebar-button-foreground-color: #ffffff;
  --window-background: #000000;
  --chat-font: "Alegreya";
  --chat-info-font: "Oswald";
  --h1-font: "Blood Crow";
  --h2-font: "FetteTrumpDeutsch";
  --h3-font: "Old Cupboard";
  --item-font: "Special Elite";
}
/* ====================== */
/* Fonts */
/* ====================== */
@import url("https://fonts.googleapis.com/css2?family=Alegreya&family=Lato&family=Oswald&family=Rakkas&family=Special+Elite&display=swap");
@font-face {
  font-family: "Blood Crow";
  src: url("../fonts/bloodcrow.ttf") format("truetype");
}
@font-face {
  font-family: "Calling Code Regular";
  src: url("../fonts/CallingCode-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "FetteTrumpDeutsch";
  src: url("../fonts/FetteTrumpDeutsch.ttf") format("truetype");
}
@font-face {
  font-family: "Old Cupboard";
  src: url("../fonts/OldCupboard.otf") format("opentype");
}
/* ====================== */
/* Flex */
/* ====================== */
.flexrow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.flexrow > * {
  flex: 1;
}
.flexrow .flex1 {
  flex: 1;
}
.flexrow .flex2 {
  flex: 2;
}
.flexrow .flex3 {
  flex: 3;
}
.flexrow .flex4 {
  flex: 4;
}
.flexcol {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.flexcol > * {
  flex: 1;
}
.flexcol .flex1 {
  flex: 1;
}
.flexcol .flex2 {
  flex: 2;
}
.flexcol .flex3 {
  flex: 3;
}
.flexcol .flex4 {
  flex: 4;
}
/* ====================== */
/* MorkBorg */
/* ====================== */
.morkborg .window-content {
  font-size: 13px;
  color: #191813;
}
.morkborg form {
  height: 100%;
}
.morkborg ::-webkit-scrollbar-thumb {
  background: darkgray;
  border: 1px solid lightgray;
}
.morkborg ::selection {
  background: var(--highlight-background-color);
  color: var(--background-color);
}
.morkborg select {
  height: 27px;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid #7a7971;
  border-radius: 0px;
  padding: 0 3px;
  text-overflow: ellipsis;
  color: var(--foreground-color);
}
.morkborg select:focus {
  box-shadow: 0 0 5px var(--highlight-background-color);
  outline: none;
}
.morkborg select[multiple] {
  height: auto;
  padding: 3px;
}
.morkborg select > option {
  background-color: var(--background-color) !important;
  color: var(--foreground-color) !important;
}
