/* ====================== */
/* Container sheet */
/* ====================== */
.morkborg.sheet.actor.container .sheet-header {
    margin-top: 0;
    flex: 0 0 90px;
    display: flex;
    flex-direction: row;
    padding: 5px;
  }
  .morkborg.sheet.actor.container .sheet-header .header-col1 {
    flex: 0 0 200px;
  }
  .morkborg.sheet.actor.container .sheet-header .header-col2 {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin: 5px;
  }
  .morkborg.sheet.actor.container .sheet-header .profile-img {
    height: 200px;
    width: 200px;
  }
  .morkborg.sheet.actor.container .sheet-header .name-row {
    flex: 0 0 45px;
    margin-bottom: 10px;
    padding-left: 12px;
    width: 100%;
  }
  .morkborg.sheet.actor.container .sheet-header input[type="text"].container-name {
    height: 45px;
  }
  .morkborg.sheet.actor.container .sheet-header .holding-row {
    flex: 0 0 35px;
    margin-bottom: 10px;
    margin-left: 14px;
  }
  