@import url("https://fonts.googleapis.com/css2?family=Alegreya&family=Lato&family=Oswald&family=Rakkas&family=Special+Elite&display=swap");

@font-face {
  font-family: "Alegreya";
  src: url("../assets/fonts/Alegreya-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Alegreya";
  src: url("../assets/fonts/Alegreya-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Burvetica NC";
  src: url("../assets/fonts/Burvetica NC.ttf") format("truetype");
}

@font-face {
  font-family: "Burvetica Thick NC";
  src: url("../assets/fonts/Burvetica Thick NC.ttf") format("truetype");
}

@font-face {
  font-family: "Deutsch Gothic";
  src: url("../assets/fonts/Deutsch.ttf") format("truetype");
}

@font-face {
  font-family: "OldNewspaperTypes";
  src: url("../assets/fonts/OldNewspaperTypes.ttf") format("truetype");
}

@font-face {
  font-family: "Benjamin Franklin";
  src: url("../assets/fonts/BenjaminFranklin.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Blood Crow";
  src: url("../assets/fonts/bloodcrow.ttf") format("truetype");
}

@font-face {
  font-family: "Calling Code";
  src: url("../assets/fonts/CallingCode-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Cantebriggia";
  src: url("../assets/fonts/cantebriggia.ttf") format("truetype");
}

@font-face {
  font-family: "FetteTrumpDeutsch";
  src: url("../assets/fonts/FetteTrumpDeutsch.ttf") format("truetype");
}

@font-face {
  font-family: "Inconsolata";
  src: url("../assets/fonts/Inconsolata-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Inconsolata";
  src: url("../assets/fonts/Inconsolata-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "JSL Ancient";
  src: url("../assets/fonts/jancient.ttf") format("truetype");
}

@font-face {
  font-family: "Old Cupboard";
  src: url("../assets/fonts/OldCupboard.otf") format("opentype");
}
