@import url("https://fonts.googleapis.com/css2?family=Alegreya&family=Lato&family=Oswald&family=Special+Elite&display=swap");

@font-face {
  font-family: "Blood Crow";
  src: url("../assets/fonts/bloodcrow.ttf") format("truetype");
}

@font-face {
  font-family: "Inconsolatazi4varl_qu";
  src: url("../assets/fonts/Inconsolatazi4varl_qu-Bold.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "Inconsolatazi4varl_qu";
  src: url("../assets/fonts/Inconsolatazi4varl_qu.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "FetteTrumpDeutsch";
  src: url("../assets/fonts/FetteTrumpDeutsch.ttf") format("truetype");
}

@font-face {
  font-family: "Old Cupboard";
  src: url("../assets/fonts/OldCupboard.otf") format("opentype");
}
