.morkborg {
  &.sheet {
    &.item {
      .sheet-header {
        margin-top: 0;
        flex: 0 0 90px;
        display: flex;
        flex-direction: row;
        padding: 5px;

        .profile-img {
          height: 150px;
          width: 150px;
        }

        .item-name input[type="text"] {
          font-family: var(--h1-font);
          font-size: 38px;
          flex: 1;
          height: 45px;
          margin-bottom: 10px;
        }

        .item-subtitle {
          font-family: var(--h3-font);
          font-size: 24px;
          text-transform: uppercase;
          margin-left: 13px;
        }
      }

      .sheet-body {
      }
    }
  }
}
