.morkborg {
  .items-list .items-header {
    height: 28px;
    margin: 2px 0;
    padding: 0;
    align-items: center;

    > * {
      font-size: 12px;
      text-align: center;
    }

    .item-name {
      /*padding-left: 5px;*/
      font-family: var(--h2-font);
      font-size: 24px;
    }
  }

  .item-list {
    list-style: none;
    margin: 7px 0;
    padding: 0;
    overflow-y: auto;

    .item {
      min-height: 30px;
      line-height: 24px;
      padding: 3px 0;
      border-bottom: 1px solid #7a7971;
      align-items: stretch;

      img {
        flex: 0 0 24px;
        margin-right: 5px;
      }
    }

    .item-name {
      margin: 0;
      font-family: var(--item-font);
      font-size: 12pt;
    }

    .item-fields {
      font-family: var(--item-font);
      font-size: 12pt;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      margin-right: 10px;
      flex: 2;
    }

    .item-field {
      margin-right: 20px;
    }

    .item-buttons {
      align-items: right;
      display: flex;
      flex: 1;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
    }

    .item-controls {
      flex: 0 0 70px;
      text-align: right;
    }

    .item-button {
      background-color: var(--foreground-color);
      border: none;
      border-bottom: 2px solid #777;
      border-radius: 0;
      color: var(--background-color);
      flex: none;
      font-family: var(--h2-font);
      font-size: 20px;
      width: auto;
    }

    .equipped {
      color: var(--foreground-color);
    }

    .unequipped {
      color: gray;
    }
  }
}
