/* ====================== */
/* Roll Cards */
/* ====================== */

.roll-card {
  border: 1px solid var(--highlight-background-color);

  .card-title {
    background: var(--highlight-background-color);
    color: var(--highlight-foreground-color);
    font-family: var(--h2-font);
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
    text-transform: capitalize;
  }

  .dr-modifier {
    margin-bottom: 5px;
    text-align: center;
  }

  .item-row {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    span.item-name {
      color: var(--foreground-color);
      font-family: var(--item-font);
      font-size: 14px;
    }
  }

  .roll-title {
    font-family: var(--chat-font);
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
  }

  .roll-result {
    border: 1px solid gray;
    font-family: var(--chat-font);
    font-size: 18px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    span {
      color: var(--foreground-color);
      font-size: 20px;
    }
  }

  .outcome-text {
    font-family: var(--h3-font);
    font-size: 28px;
    margin-bottom: 10px;
    text-align: center;
  }

  .outcome-text {
    .attack-outcome,
    .defend-outcome {
      margin-left: 10px;
    }

    .attack-outcome,
    .defend-outcome,
    .take-damage {
      background-color: var(--highlight-background-color);
      color: var(--highlight-foreground-color);
      padding-left: 4px;
      padding-right: 4px;
    }
  }

  .roll-button-row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    .roll-card-button {
      background-color: var(--foreground-color);
      color: var(--background-color);
      border: none;
      border-bottom: 2px solid #777;
      border-radius: 0;
      font-size: 20px;
      font-family: var(--h2-font);
      text-transform: capitalize;
    }
  }
}
