:root {
  --background-color: #000000;
  --foreground-color: #ffffff;
  --foreground-alt-color: #ffe900;
  --highlight-background-color: #ffe900;
  --highlight-foreground-color: #000000;
  --sidebar-background: #000000;
  --sidebar-foreground-color: #ffffff;
  --sidebar-button-background-color: #000000;
  --sidebar-button-foreground-color: #ffffff;
  --window-background: #000000;
  --chat-font: "Alegreya";
  --chat-info-font: "Oswald";
  --h1-font: "Deutsch Gothic";
  --h2-font: "FetteTrumpDeutsch";
  --h3-font: "Old Cupboard";
  --item-font: "Calling Code";
  --button-font: "Rakkas";
  --journal-font: "Alegreya";
  --journal-font-size: 18px;
  --window-border-color: #222222;
}

/* 
  TODO: better deal with Foundry themes overriding our root vars.
*/

.themed.theme-light {
  --sidebar-background: unset;
}

.themed.theme-dark {
  --sidebar-background: unset;
}
