<li class="items-header flexrow">
  <h3 class="item-name flexrow">{{localize "MB.Equipment"}}</h3>
  <div class="item-controls">
    <a class="item-control item-create" title='{{localize "MB.ItemCreate"}}'>
      {{localize "MB.Add"}} <i class="fas fa-plus"></i>
    </a>
  </div>
</li>

<ol class="item-list">
  {{#*inline "item-row"}}
  <li
    class="item flexrow item-type-{{item.type}} {{class}}"
    data-item-id="{{item._id}}"
  >
    <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
    <h4 class="item-name item-edit rollable">
      {{item.name}} {{#ifEq item.type 'container'}}
      ({{item.totalContainerSpace}} / {{item.capacity}}) {{/ifEq}} {{#ifGt
      item.quantity 1}} ({{item.quantity}}) {{/ifGt}}
    </h4>
    <div class="item-buttons"></div>
    <div class="item-controls">
      {{#if item.canPlusMinus}}
      <a class="item-control item-qty-plus" title="Add Quantity"
        ><i class="fas fa-plus"></i
      ></a>
      <a class="item-control item-qty-minus" title="Subtract Quantity"
        ><i class="fas fa-minus"></i
      ></a>
      {{/if}} {{#ifNe disableCarryAndEquipButton true}} {{#if item.equippable}}
      <a
        class="item-control item-toggle item-toggle-equipped {{ifPrint item.equipped 'equipped'}}"
        title="{{ifPrintElse item.equipped (localize 'MB.ItemEquipped') (localize 'MB.ItemUnequipped')}}"
      >
        <i class="fas fa-shield-alt"></i
      ></a>
      {{/if}} {{#if item.droppable}}
      <a
        class="item-control item-toggle item-toggle-carried {{ifPrint item.carried 'carried'}}"
        title="{{ifPrintElse item.carried (localize 'MB.ItemCarried') (localize 'MB.ItemDropped')}}"
      >
        <i class="fas fa-user-check"></i
      ></a>
      {{/if}} {{/ifNe}}
      <a class="item-control item-edit" title="Edit Item">
        <i class="fas fa-edit"></i
      ></a>
      <a class="item-control item-delete" title="Delete Item">
        <i class="fas fa-trash"></i
      ></a>
    </div>
  </li>
  {{/inline}} {{#each data.system.equipment as |item id|}} {{> item-row
  item=item}} {{#ifEq item.type 'container'}} {{#each item.itemsData as |item|}}
  {{> item-row item=item class="item-container-item"
  disableCarryAndEquipButton=true}} {{else}}
  <li class="item empty-container" data-item-id="{{item._id}}">
    <div class="rule-text">{{localize 'MB.ContainerEmptyHelpText'}}</div>
  </li>
  {{/each}} {{/ifEq}} {{/each}}
</ol>
