{{!-- Violence Tab --}}
<div class="tab violence-tab" data-group="primary" data-tab="violence">
  {{!-- Initiative buttons --}}
  <div class="initiative">
    <span class="roll-initiative"
      >{{localize "MB.Roll"}} {{localize "MB.Initiative"}}:</span
    >
    <button
      type="button"
      class="button item-button rollable initiative-button party-initiative-button"
      title="{{localize 'MB.Party'}}"
    >
      {{localize "MB.Party"}}
    </button>
    <button
      type="button"
      class="button item-button rollable initiative-button individual-initiative-button"
      title="{{localize 'MB.Individual'}}"
    >
      {{localize "MB.Individual"}}
    </button>
  </div>

  {{!-- Weapons --}}
  <ol class="items-list inventory-list">
    <li class="items-header flexrow">
      <h3 class="item-name flexrow">{{localize "MB.ItemTypeWeaponPlural"}}</h3>
    </li>
    <ol class="item-list weapon-list">
      {{#each data.system.equippedWeapons as |item id|}}
      <li class="item flexrow" data-item-id="{{item._id}}">
        <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
        <div class="weapon-name-col">
          <h4 class="item-name item-edit rollable">{{item.name}}</h4>
          {{#if ../data.system.trackAmmo}} {{#if item.usesAmmo}}
          <div class="ammo-select-col">
            <select
              class="ammo-select"
              name="selectedAmmo-{{item._id}}"
              data-dtype="Number"
              data-item-id="{{item._id}}"
            >
              {{#select item.ammoId}}
              <option value="">{{localize 'MB.ItemTypeAmmo'}}</option>
              {{#each ../data.system.ammo as |ammo ammoId|}}
              <option value="{{ammo._id}}">
                {{ammo.name}} ({{ammo.quantity}})
              </option>
              {{/each}} {{/select}}
            </select>
          </div>
          {{/if}} {{/if}}
        </div>
        <div class="item-fields">
          <span class="item-field damage-die">{{item.damageDie}}</span>
          <span class="item-field weapon-type">{{item.weaponType}}</span>
        </div>
        <div class="item-buttons">
          <button
            type="button"
            class="item-button rollable attack-button"
            data-roll="d20+@abilities.strength.value"
            data-label="attack_{{item._id}}"
            title="{{localize 'MB.Attack'}}"
          >
            {{localize 'MB.Attack'}}
          </button>
        </div>
        <div class="item-controls">
          <a
            class="item-control item-toggle item-toggle-equipped {{ifPrint item.equipped 'equipped'}}"
            title="{{ifPrintElse item.equipped (localize 'MB.ItemEquipped') (localize 'MB.ItemUnequipped')}}"
            ><i class="fas fa-shield-alt"></i
          ></a>
          <a class="item-control item-edit" title="Edit Item"
            ><i class="fas fa-edit"></i
          ></a>
          <a class="item-control item-delete" title="Delete Item"
            ><i class="fas fa-trash"></i
          ></a>
        </div>
      </li>
      {{/each}}
    </ol>
    {{#if data.system.equippedWeapons.length}}
    <div class="rule-text attack-rule">
      {{localize 'MB.AttackCritText'}} {{localize 'MB.AttackFumbleText'}}
    </div>
    {{else}}
    <div class="rule-text you-have-no">
      {{localize 'MB.EquipAWeaponToAttack'}}
    </div>
    {{/if}}
    <div class="violence-gutter"></div>

    {{!-- Armor --}}
    <li class="items-header flexrow">
      <h3 class="item-name flexrow">{{localize "MB.ItemTypeArmorPlural"}}</h3>
      <div class="item-controls flexrow"></div>
    </li>
    <ol class="item-list armor-list">
      {{#if data.system.equippedArmor}}
      <li class="item flexrow" data-item-id="{{data.system.equippedArmor._id}}">
        <img
          src="{{data.system.equippedArmor.img}}"
          title="{{data.system.equippedArmor.name}}"
          width="24"
          height="24"
        />
        <h4 class="item-name item-edit rollable">
          {{data.system.equippedArmor.name}}
        </h4>
        <div class="item-buttons">
          <div class="armor-tiers">
            <div class="tiers">
              <label class="stat-label tier-label"
                >{{ localize "MB.Tier" }}:</label
              >
              <ul class="tiers">
                <li>
                  <label
                    ><input class="tier-radio" type="radio" name="tier.value"
                    value="0" {{#ifEq data.system.equippedArmor.data.tier.value
                    0}}checked{{/ifEq}}/><span class="tier-num">0</span
                    ><span class="tier-dmg">-0</span></label
                  >
                </li>
                <li>
                  <label
                    ><input class="tier-radio" type="radio" name="tier.value"
                    value="1" {{#ifEq data.system.equippedArmor.data.tier.value
                    1}}checked{{/ifEq}}/><span class="tier-num">1</span
                    ><span class="tier-dmg">-d2</span></label
                  >
                </li>
                <li>
                  <label
                    ><input class="tier-radio" type="radio" name="tier.value"
                    value="2" {{#ifEq data.system.equippedArmor.data.tier.value
                    2}}checked{{/ifEq}} {{#ifLt
                    data.system.equippedArmor.data.tier.max
                    2}}disabled="true"{{/ifLt}}/><span class="tier-num">2</span
                    ><span class="tier-dmg">-d4</span></label
                  >
                </li>
                <li>
                  <label
                    ><input class="tier-radio" type="radio" name="tier.value"
                    value="3" {{#ifEq data.system.equippedArmor.data.tier.value
                    3}}checked{{/ifEq}} {{#ifLt
                    data.system.equippedArmor.data.tier.max
                    3}}disabled="true"{{/ifLt}}/><span class="tier-num">3</span
                    ><span class="tier-dmg">-d6</span></label
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="item-controls">
          <a
            class="item-control item-toggle item-toggle-equipped {{ifPrint data.system.equippedArmor.equipped 'equipped'}}"
            title="{{ifPrintElse data.system.equippedArmor.equipped (localize 'MB.ItemEquipped') (localize 'MB.ItemUnequipped')}}"
            ><i class="fas fa-shield-alt"></i
          ></a>
          <a class="item-control item-edit" title="Edit Item"
            ><i class="fas fa-edit"></i
          ></a>
          <a class="item-control item-delete" title="Delete Item"
            ><i class="fas fa-trash"></i
          ></a>
        </div>
      </li>
      {{/if}} {{#if data.system.equippedShield}}
      <li
        class="item flexrow"
        data-item-id="{{data.system.equippedShield._id}}"
      >
        <img
          src="{{data.system.equippedShield.img}}"
          title="{{data.system.equippedShield.name}}"
          width="24"
          height="24"
        />
        <h4 class="item-name item-edit rollable">
          {{data.system.equippedShield.name}}
        </h4>
        <div class="item-buttons">
          <span class="rule-text shield-rule"
            >{{localize 'MB.ShieldUseText'}}</span
          >
        </div>
        <div class="item-controls">
          <a
            class="item-control item-toggle item-toggle-equipped {{ifPrint data.system.equippedShield.equipped 'equipped'}}"
            title="{{ifPrintElse data.system.equippedShield.equipped (localize 'MB.ItemEquipped') (localize 'MB.ItemUnequipped')}}"
            ><i class="fas fa-shield-alt"></i
          ></a>
          <a class="item-control item-edit" title="Edit Item"
            ><i class="fas fa-edit"></i
          ></a>
          <a class="item-control item-delete" title="Delete Item"
            ><i class="fas fa-trash"></i
          ></a>
        </div>
      </li>
      {{/if}} {{#unless data.system.equippedArmor}} {{#unless
      data.system.equippedShield}}
      <div class="rule-text you-have-no">
        {{localize 'MB.EquipArmorToAbsorb'}}
      </div>
      {{/unless}} {{/unless}}
    </ol>
  </ol>
  <div class="underarmor-row">
    <div class="incoming-attack">
      <div>
        <button
          type="button"
          class="item-button rollable defend-button"
          title="{{localize 'MB.Defend'}}"
        >
          {{localize "MB.Defend"}}
        </button>
      </div>
      <div class="rule-text defend-rule">
        {{localize 'MB.DefendCritText'}} {{localize 'MB.DefendFumbleText'}}
      </div>
    </div>
  </div>
</div>
