<form class="flexcol {{cssClass}}" autocomplete="off">
  {{> systems/morkborg/templates/item/common/sheet-header.hbs }}
  {{> systems/morkborg/templates/item/common/sheet-tabs.html }}

  <section class="sheet-body">
    {{> systems/morkborg/templates/item/common/description-tab.hbs }} 
    
    {{!-- Details Tab --}}
    <div class="tab" data-group="primary" data-tab="details">
      {{> systems/morkborg/templates/item/common/base-fields.html }} 
      {{> systems/morkborg/templates/item/common/quantity-field.html }}
    </div>
  </section>
</form>
