@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@font-face {
  font-family: 'Bayreuth';
  src: url("../fonts/bayreuth.ttf") format("truetype");
}
@font-face {
  font-family: 'Blood Crow';
  src: url("../fonts/bloodcrow.ttf") format("truetype");
}
@font-face {
  font-family: 'FetteTrumpDeutsch';
  src: url("../fonts/FetteTrumpDeutsch.ttf") format("truetype");
}
@font-face {
  font-family: 'Heretic';
  src: url("../fonts/Heretic.ttf") format("truetype");
}
/*@font-face {
  font-family: 'Modesto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/modesto-condensed/modesto-condensed.woff2') format('woff2');
}
@font-face {
  font-family: 'Modesto Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('../../fonts/modesto-condensed/modesto-condensed-bold.woff2') format('woff2');
}*/
.modesto {
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
}
.flexrow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.flexrow > * {
  flex: 1;
}
.flexrow .flex1 {
  flex: 1;
}
.flexrow .flex2 {
  flex: 2;
}
.flexrow .flex3 {
  flex: 3;
}
.flexrow .flex4 {
  flex: 4;
}
.flexcol {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.flexcol > * {
  flex: 1;
}
.flexcol .flex1 {
  flex: 1;
}
.flexcol .flex2 {
  flex: 2;
}
.flexcol .flex3 {
  flex: 3;
}
.flexcol .flex4 {
  flex: 4;
}
.morkborg {
}
.morkborg .window-content {
  font-size: 13px;
  color: #191813;
}
.morkborg form {
  height: 100%;
}
.morkborg.sheet .window-content {
  overflow-y: hidden;
  padding: 5px;
  /*background: url("../ui/parchment.jpg") repeat;*/
  /*background: url("../ui/darkparchment.jpg") repeat;*/
  /* MB yellow
  background: #ffe500;*/
  font-size: 13px;
  color: #191813;
}
.morkborg.sheet .window-content form {
  height: 100%;
  overflow: hidden;
}
.morkborg.sheet .window-content .tab {
  height: 100%;
  overflow-y: auto;
  align-content: flex-start;
}
.morkborg.sheet input[type="text"],
.morkborg.sheet input[type="number"] {
  background: none;
  border: 1px solid transparent;
}
.morkborg.sheet input[type="text"]:hover,
.morkborg.sheet input[type="number"]:hover,
.morkborg.sheet input[type="text"]:focus,
.morkborg.sheet input[type="number"]:focus {
  border: 1px solid #111;
}
.morkborg.sheet select {
  flex: 1;
  font-size: 12px;
  height: 22px;
  background: transparent;
}
.morkborg.sheet .editable .rollable:hover {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}
.morkborg .sheet-header {
  flex: 0 0 100px;
  /*border-bottom: 2px groove #eeede0;*/
}
.morkborg.sheet .sheet-header h1 {
  flex: 1;
  border-bottom: none;
  height: 60px;
  margin: 0;
  padding: 5px;
}
.morkborg.sheet .sheet-header h1 input {
  display: block;
  height: 50px;
  font-size: 32px;
  margin: 0;
}
.morkborg .sheet-header .profile-img {
  object-fit: contain;
  border: none;
  /*border-right: 2px groove #eeede0;*/
  /* TODO: figure out desired height of resources and make this match up */
  flex: 0 0 173px;
  max-width: 173px;
  height: 173px;
}
.morkborg .sheet-header h1.charname {
  flex: 1;
  height: 60px;
  padding: 0;
}
.morkborg .sheet-header h1.charname input {
  height: 40px;
  margin: 10px 0;
  font-family: "Blood Crow", fantasy, serif;
  font-size: 38px;  
}
.morkborg .sheet-header .header-classname {
  flex: 0 0 150px;
  margin-right: 3px;
  height: 60px;
  justify-content: flex-end;
  text-align: right;
}
.morkborg.sheet .sheet-header .summary {
  flex: 0 0 100%;
  height: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
  /*border-top: 2px groove #eeede0;*/
  border-bottom: none;
}
.morkborg.sheet .sheet-header .summary li {
  height: calc(100% - 6px);
  float: left;
  margin: 2px 0;
  padding: 0;
  /*border-right: 2px groove #eeede0;*/
  line-height: 34px;
  /*color: #4b4a44;*/
  color: black;
  font-family: 'Special Elite', cursive;
  font-weight: bold;
  font-size: 14px;
}
.morkborg.sheet .sheet-header .summary li:last-child {
  border-right: none;
}
.morkborg.sheet.actor .sheet-header .resources {
  flex: 0 0 100%;
  margin: 0;
}
.morkborg.sheet.actor .sheet-header .abilities {
  flex: 0 0 100%;
  margin: 0;
}
.morkborg.sheet.actor .sheet-header .resources .resource {
  height: 77px;
  /*margin: 0;*/
  margin-right: 10px;
  /*border: none;*/
  /*border-right: 2px groove #eeede0;*/
  border: 1px dotted black;
  border-radius: 0;
}
.morkborg.sheet.actor .sheet-header .abilities .ability {
  margin-right: 10px;
  border-radius: 0;
  height: 100px;
  border: none;
  border-right: none;
}
.morkborg.sheet.actor .sheet-header .resources .resource:last-child {
  /*border-right: none;*/
}
.morkborg.sheet.actor .sheet-header .resources .resource .resource-name {
  font-family: "FetteTrumpDeutsch", fantasy, serif;
  font-size: 16px;  
  /*background-color: #ffe500;*/
}
.morkborg.sheet.actor .sheet-header .abilities .ability .ability-name {
  font-family: "FetteTrumpDeutsch", fantasy, serif;
  font-size: 16px;  
  /*background-color: #ffe500;*/
}
.morkborg.sheet.actor .sheet-header .resources .resource .resource-value {
  height: 30px;
  line-height: 30px;
}
.morkborg.sheet.actor ul.resources {
  flex: 0 0 60px;
  list-style: none;
  margin: 0;
  padding: 0;
  /*border-top: 2px groove #eeede0;*/
}
.morkborg.sheet.actor ul.abilities {
  flex: 0 0 60px;
  list-style: none;
  margin: 0;
  padding: 0;
  /*border-top: 2px groove #eeede0;*/
}
.morkborg.sheet.actor ul.resources li.resource {
  height: 70px;
  margin: 0 5px 0 0;
  /*border: 2px groove #eeede0;*/
  border-radius: 4px;
  text-align: center;
}
.morkborg.sheet.actor ul.abilities li.ability {
  height: 70px;
  margin: 0 5px 0 0;
  /*border: 2px groove #eeede0;*/
  border-radius: 4px;
  text-align: center;
}
.morkborg.sheet.actor ul.resources li.resource:last-child {
  margin: 0;
}
.morkborg.sheet.actor ul.abilities li.ability:last-child {
  margin: 0;
}
.morkborg.sheet.actor ul.resources li.resource .resource-value {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  line-height: 28px;
  font-family: "Modesto Condensed", "Palatino Linotype", serif; 
  font-size: 20px;
  font-weight: 700;
}
.morkborg.sheet.actor ul.abilities li.ability .ability-value {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Modesto Condensed", "Palatino Linotype", serif; 
  font-size: 20px;
  font-weight: 700;
  /*background: url("../ui/shield_icon.png") no-repeat;*/
  background: url("../ui/drawnsquare.png") no-repeat;
  height: 60px;
  background-size: 60px 60px;
  background-position: 50%;
}
.morkborg.sheet.actor ul.resources li.resource .resource-value > * {
  font-weight: 400;
  font-size: 24px;
}
.morkborg.sheet.actor ul.abilities li.ability .ability-value > * {
  font-weight: 400;
  font-size: 24px;
}
.morkborg.sheet.actor ul.resources li.resource .resource-value.multiple input {
  flex: 0 0 33%;
}
/* TODO: do we want multiple to be specified for abilities? */
.morkborg.sheet.actor ul.abilities li.ability .ability-value.multiple input {
  flex: 0 0 33%;
}
.morkborg.sheet.actor ul.resources li.resource .resource-footer {
  flex: 0 0 18px;
  margin-top: -1px;
  line-height: 18px;
  font-family: 'Special Elite', cursive;
  font-size: 12px;
  font-weight: 400;
  white-space: nowrap;
}
.morkborg.sheet span.sep {
  flex: none;
  margin: 0 1px;
  display: inline;
  position: relative;
  color: #7a7971;
  font-weight: normal;
}
.morkborg.sheet.item .sheet-header .item-subtitle {
  flex: 0 0 100px;
  height: 60px;
  margin: 0;
  padding: 5px;
  text-align: right;
  color: #7a7971;
}
.morkborg.sheet.item .sheet-header .item-subtitle .item-type {
  font-size: 24px;
  line-height: 26px;
  margin: 0;
  text-transform: uppercase;
}
.morkborg.sheet .sheet-tabs {
  flex: 0 0 30px;
  margin-bottom: 5px;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
  /* TODO: track down the border-top and border-bottom getting inherited on these */
  border-top: none;
  border-bottom: none;
}
.morkborg.sheet .sheet-tabs .item {
  font-family: "FetteTrumpDeutsch", fantasy, serif;
  font-size: 20px;
  height: 30px;
  line-height: 32px;
  margin: 0 24px;
  border-bottom: 3px solid #b5b3a4;
}
.morkborg.sheet .sheet-tabs .item.active {
  border-bottom: 3px solid #44191A;
}
.morkborg .sheet-body {
  /*flex: 1;*/
  overflow: hidden;
}
.morkborg .sheet-body .tab {
  height: 100%;
  overflow-y: auto;
}
.morkborg .editor,
.morkborg .editor-content {
  height: 100%;
  font-family: 'Special Elite', cursive;
  font-size: 12px;
}
.morkborg .item-list {
  list-style: none;
  margin: 7px 0;
  padding: 0;
  overflow-y: auto;
}
.morkborg .item-list .item {
  min-height: 30px;
  line-height: 24px;
  padding: 3px 0;
  border-bottom: 1px solid #BBB;
  align-items: stretch;
}
.morkborg .item-list .item img {
  flex: 0 0 24px;
  margin-right: 5px;
}
.morkborg .item-list .item-name {
  margin: 0;
}
.morkborg .item-list .item-controls {
  flex: 0 0 36px;
}
.morkborg .item-list .item-buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  flex: 2;
  justify-content: flex-start;
}
.morkborg .item-list .item-button {
  line-height: 1;
  font-size: 11px;
  flex: none;
  width: auto;
}
.morkborg .items-list .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}
.morkborg .items-list .items-header > * {
  font-size: 12px;
  text-align: center;
}
.morkborg .items-list .items-header .item-name {
  padding-left: 5px;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
  font-size: 16px;
}
/**/.morkborg.sheet.actor {
  min-width: 560px;
  min-height: 420px;
}
.morkborg.sheet.item {
  min-width: 460px;
  min-height: 400px;
}
.morkborg.sheet textarea {
  margin-top: 10px;
  resize: none;
  font-family: 'Special Elite', cursive;
  font-size: 16px;
  height: 200px;
}