/* ====================== */
/* Fonts */
/* ====================== */
@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
@font-face {
  font-family: "Blood Crow";
  src: url("../fonts/bloodcrow.ttf") format("truetype");
}
@font-face {
  font-family: "FetteTrumpDeutsch";
  src: url("../fonts/FetteTrumpDeutsch.ttf") format("truetype");
}
@font-face {
  font-family: "Old Cupboard";
  src: url("../fonts/OldCupboard.otf") format("opentype");
}
/* ====================== */
/* Flex */
/* ====================== */
.flexrow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.flexrow > * {
  flex: 1;
}
.flexrow .flex1 {
  flex: 1;
}
.flexrow .flex2 {
  flex: 2;
}
.flexrow .flex3 {
  flex: 3;
}
.flexrow .flex4 {
  flex: 4;
}
.flexcol {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.flexcol > * {
  flex: 1;
}
.flexcol .flex1 {
  flex: 1;
}
.flexcol .flex2 {
  flex: 2;
}
.flexcol .flex3 {
  flex: 3;
}
.flexcol .flex4 {
  flex: 4;
}
/* ====================== */
/* MorkBorg */
/* ====================== */
.morkborg .window-content {
  font-size: 13px;
  color: #191813;
}
.morkborg form {
  height: 100%;
}
.morkborg ::-webkit-scrollbar-thumb {
  background: darkgray;
  border: 1px solid lightgray;
}
.morkborg ::selection {
  background: #ffe500;
  color: black;
}
.morkborg select {
  height: 27px;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid #7a7971;
  border-radius: 0px;
  padding: 0 3px;
  text-overflow: ellipsis;
  color: white;
}
.morkborg select:focus {
  box-shadow: 0 0 5px #ffe500;
  outline: none;
}
.morkborg select[multiple] {
  height: auto;
  padding: 3px;
}
.morkborg select > option {
  background-color: black !important;
  color: white !important;
}
/* ====================== */
/* Sheet */
/* ====================== */
.morkborg.window-app.sheet {
  /* TODO: decide if we want non-black-default box-shadow;
  /*box-shadow: 0 0 10px #222222; */
}
.morkborg.sheet .window-content {
  overflow-y: hidden;
  padding: 5px;
  /* inherited background is parchment img bg */
  background: black;
  font-size: 13px;
  color: white;
  border-bottom: 1px solid #222222;
  border-left: 1px solid #222222;
  border-right: 1px solid #222222;
}
.morkborg.sheet .window-content form {
  height: 100%;
  overflow: hidden;
}
.morkborg.sheet {
  margin-top: 0;
}
.morkborg.sheet .editable .rollable:hover {
  color: #000;
  text-shadow: 0 0 10px #ffe500;
  cursor: pointer;
}
.morkborg.sheet input[type="text"],
.morkborg.sheet input[type="number"],
.morkborg.sheet input[type="password"],
.morkborg.sheet input[type="date"] {
  color: white;
  border-radius: 0;
}
.morkborg.sheet input[type="text"]:focus,
.morkborg.sheet input[type="number"]:focus,
.morkborg.sheet input[type="password"]:focus,
.morkborg.sheet input[type="date"]:focus,
.morkborg.sheet input[type="time"]:focus,
.morkborg.sheet input[type="text"]:hover,
.morkborg.sheet input[type="number"]:hover,
.morkborg.sheet input[type="password"]:hover,
.morkborg.sheet input[type="date"]:hover,
.morkborg.sheet input[type="time"]:hover {
  box-shadow: 0 0 5px #ffe500;
}
.morkborg.sheet select:focus {
  box-shadow: 0 0 5px #ffe500;
}
.morkborg.sheet button:hover,
.morkborg.sheet button:focus {
  box-shadow: 0 0 5px #ffe500;
}
.morkborg.sheet a:hover {
  text-shadow: 0 0 8px #ffe500;
}
/* ====================== */
/* TinyMCE editor */
/* ====================== */
.morkborg.sheet .editor {
  color: white;
  border: 1px solid #7a7971;
}
/*.morkborg.sheet .editor-content {
  color: white;
}
*/ /* TODO: see if there's a better way for us to style TinyMCE */
/* 
Anchor hover affects font awesome icons, like the on-hover TinyMCE edit icon:;
  <a class="editor-edit"><i class="fas fa-edit"></i></a>
alternately we could select as
.morkborg.sheet .editor:hover .editor-edit:hover .fa-edit {}        
 */
.morkborg.sheet .tox.tox-tinymce .tox-edit-area__iframe {
  /* TODO: how do we style font color in tinymce? 
  color: white;
  */
  background: lightgray;
}
.morkborg .editor,
.morkborg .editor-content {
  height: 100%;
  /*  font-family: 'Special Elite', cursive;
  font-size: 12px;
*/
}
.morkborg.sheet .editor {
  padding: 0 8px;
}
/* ====================== */
/* Sheet Tabs */
/* ====================== */
.morkborg.sheet .sheet-tabs {
  flex: 0 0 30px;
  margin-bottom: 5px;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
  /* TODO: track down the border-top and border-bottom getting inherited on these */
  border-top: none;
  border-bottom: none;
}
.morkborg.sheet .sheet-tabs .item {
  font-family: "FetteTrumpDeutsch", fantasy, serif;
  font-size: 22px;
  height: 30px;
  line-height: 32px;
  margin: 0 5px;
  width: 120px;
}
.morkborg.sheet .sheet-tabs .item:hover {
  color: black;
  text-shadow: 0 0 10px #ffe500;
}
.morkborg.sheet .sheet-tabs .item.active {
  text-shadow: none;
  background-color: #ffe500;
  color: black;
}
/* ====================== */
/* Sheet Body */
/* ====================== */
.morkborg .sheet-body {
  overflow: hidden;
}
.morkborg .sheet-body .tab {
  height: 100%;
  overflow-y: auto;
}
/* ====================== */
/* Actor sheet */
/* ====================== */
.morkborg.sheet.actor .rule-text {
  font-family: "Special Elite", cursive;
  font-size: 10pt;
}
/* ====================== */
/* Actor sheet header */
/* ====================== */
.morkborg.sheet.actor .sheet-header {
  margin-top: 0;
  padding: 5px;
  display: flex;
  flex-direction: row;
}
.morkborg.sheet.actor .sheet-header .header-gutter-col {
  flex: 0 0 10px;
}
.morkborg.sheet.actor .sheet-header .profile-img {
  height: 200px;
  width: 200px;
  margin: 0;
  padding: 0;
}
.morkborg.sheet.actor .stat-label {
  font-family: "FetteTrumpDeutsch", fantasy, serif;
  font-size: 22px;
  margin-right: 10px;
}
.morkborg.sheet.actor .stat-input {
  border: 1px solid #7a7971;
  font-family: "Special Elite", cursive;
  font-size: 14pt;
  text-align: center;
  padding-top: 8px;
  width: 50px;
  color: white;
}
.morkborg.sheet.actor .sheet-header .hitpoints-row {
  flex: 0 0 30px;
  margin-bottom: 7px;
}
/* ====================== */
/* Character sheet */
/* ====================== */
.morkborg.sheet.actor.character {
  min-width: 742px;
  min-height: 650px;
}
/* ====================== */
/* Character sheet header */
/* ====================== */
.morkborg.sheet.actor.character .sheet-header {
  flex: 0 0 200px;
}
.morkborg.sheet.actor.character .sheet-header .header-col1 {
  flex: 0 0 200px;
  margin: 5px;
  padding: 0;
}
.morkborg.sheet.actor.character .sheet-header .header-col2 {
  flex: 0 0 350px;
  margin: 5px;
  display: flex;
  flex-direction: column;
}
.morkborg.sheet.actor.character .sheet-header .header-col3 {
  flex: 0 0 120px;
  margin: 5px;
  display: flex;
  flex-direction: column;
}
.morkborg.sheet.actor.character .sheet-header .charname-row {
  flex: 0 0 50px;
  margin-bottom: 7px;
}
.morkborg.sheet.actor.character .sheet-header .charname-row input[type="text"] {
  font-family: "Blood Crow", fantasy, serif;
  font-size: 38px;
  width: 100%;
  height: 45px;
}
.morkborg.sheet.actor.character .sheet-header .classname-row {
  flex: 0 0 30px;
  margin-bottom: 7px;
}
.morkborg.sheet.actor.character .sheet-header .classname-row input[type="text"] {
  font-family: "Old Cupboard", serif;
  font-size: 24px;
  width: 100%;
}
.morkborg.sheet.actor.character .sheet-header .omens-row {
  flex: 0 0 30px;
  margin-bottom: 7px;
}
.morkborg.sheet.actor.character .sheet-header .omen-rule {
  margin-left: 10px;
  text-transform: lowercase;
}
.morkborg.sheet.actor.character .sheet-header .miseries-row {
  flex: 0 0 30px;
}
.morkborg.sheet.actor.character .sheet-header .stat-label {
  text-align: right;
  width: 140px;
  float: left;
}
.morkborg.sheet.actor.character .sheet-header .miseries-label {
  float: left;
}
.morkborg.sheet.actor.character .sheet-header ul.miseries {
  list-style-type: none;
  margin: 0;
  margin-top: 3px;
  padding: 0;
  float: left;
}
.morkborg.sheet.actor.character .sheet-header ul.miseries li {
  float: left;
}
.morkborg.sheet.actor.character .sheet-header ul.miseries label {
  display: block;
  padding: 4px;
  position: relative;
  padding-left: 20px;
}
.morkborg.sheet.actor.character .sheet-header ul.miseries label input[type="radio"] {
  display: none;
}
.morkborg.sheet.actor.character
  .sheet-header
  ul.miseries
  input[type="radio"]:checked
  + span {
  background: #ffe500;
  color: #000;
  border: none;
}
.morkborg.sheet.actor.character .sheet-header ul.miseries label span {
  border: 1px solid #7a7971;
  width: 17px;
  height: 17px;
  position: absolute;
  overflow: hidden;
  line-height: 1.5;
  text-align: center;
  border-radius: 100%;
  font-size: 10pt;
  font-family: "Special Elite", cursive;
  left: 0;
  top: 50%;
}
.morkborg.sheet.actor.character .sheet-header ul.miseries li:last-child label span {
  background: white;
  color: black;
}
.morkborg.sheet.actor.character .sheet-header .ability-row {
  margin-bottom: 10px;
}
.morkborg.sheet.actor.character .sheet-header .ability-row:last-child {
  margin-bottom: 0;
}
.morkborg.sheet.actor.character .sheet-header .ability-label {
  font-family: "FetteTrumpDeutsch", fantasy, serif;
  font-size: 24px;
  margin-left: 5px;
  margin-top: 5px;
  float: left;
}
.morkborg.sheet.actor.character .sheet-header .ability-input {
  border: 1px solid #7a7971;
  font-family: "Special Elite", cursive;
  font-size: 14pt;
  text-align: center;
  padding: 5px;
  padding-top: 10px;
  line-height: 1.5;
  width: 42px;
  height: 42px;
  float: left;
  border-radius: 0;
  color: white;
}
/* ====================== */
/* Item list */
/* ====================== */
.morkborg .items-list .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
}
.morkborg .items-list .items-header > * {
  font-size: 12px;
  text-align: center;
}
.morkborg .items-list .items-header .item-name {
  /*padding-left: 5px;*/
  font-family: "FetteTrumpDeutsch", fantasy, serif;
  font-size: 24px;
}
.morkborg .item-list {
  list-style: none;
  margin: 7px 0;
  padding: 0;
  overflow-y: auto;
}
.morkborg .item-list .item {
  min-height: 30px;
  line-height: 24px;
  padding: 3px 0;
  border-bottom: 1px solid #7a7971;
  align-items: stretch;
}
.morkborg .item-list .item img {
  flex: 0 0 24px;
  margin-right: 5px;
}
.morkborg .item-list .item-name {
  margin: 0;
  font-family: "Special Elite", cursive;
  font-size: 12pt;
}
.morkborg .item-list .item-fields {
  font-family: "Special Elite", cursive;
  font-size: 12pt;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.morkborg .item-list .item-field {
  margin-right: 20px;
}
.morkborg .item-list .item-buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: right;
  flex: 1;
  justify-content: flex-start;
}
.morkborg .item-list .item-controls {
  flex: 0 0 70px;
  text-align: right;
}
.morkborg.sheet.actor .sheet-body .item-controls .item-toggle {
  color: darkgray;
}
.morkborg.sheet.actor .sheet-body .item-controls .item-toggle.equipped {
  color: #ffe500;
}
.morkborg .item-list .item-button {
  font-family: "FetteTrumpDeutsch", fantasy, serif;
  font-size: 20px;
  flex: none;
  width: auto;
  color: white;
  background-color: white;
  color: black;
  border: none;
  border-bottom: 2px solid #777;
  border-radius: 0;
}
.morkborg .item-list .equipped {
  color: white;
}
.morkborg .item-list .unequipped {
  color: gray;
}
/* ====================== */
/* Character sheet obituary (class) tab */
/* ====================== */
.morkborg.sheet.actor.character .sheet-body .class-tab-inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.morkborg.sheet.actor.character .sheet-body .class-top-row {
  margin-top: 15px;
  margin-bottom: 10px;
}
.morkborg.sheet.actor.character .sheet-body .classname-label {
  font-family: "FetteTrumpDeutsch", fantasy, serif;
  font-size: 20px;
  margin-right: 10px;
}
.morkborg.sheet.actor.character .sheet-body .classname-input {
  border: 1px solid #7a7971;
  font-family: "Special Elite", cursive;
  font-size: 18px;
  width: 300px;
  height: 36px;
}
.morkborg.sheet.actor.character .sheet-body .omendie-label {
  font-family: "FetteTrumpDeutsch", fantasy, serif;
  font-size: 20px;
  width: 140px;
  margin-left: 20px;
  margin-right: 10px;
}
.morkborg.sheet.actor.character .sheet-body .omendie-input {
  width: 70px;
}
.morkborg.sheet.actor.character .sheet-body .class-tab .editor,
.morkborg.sheet.actor.character .sheet-body .class-tab .editor-content {
}
.morkborg.sheet.actor.character .sheet-body .class-tab-gutter {
  flex: 0 0 10px;
}
/* ====================== */
/* Character sheet violence tab */
/* ====================== */
.morkborg.sheet.actor.character .sheet-body .violence-tab .item-list.weapon-list .item {
  align-items: center;
}
.morkborg.sheet.actor
  .sheet-body
  .violence-tab
  .item-list.weapon-list
  .item-button {
  font-size: 20px;
  width: 120px;
}
.morkborg.sheet.actor.character .sheet-body .violence-tab .item-list .item-name {
  font-size: 16px;
  margin-top: 5px;
}
.morkborg.sheet.actor.character .sheet-body .violence-tab .item-list .item-fields {
  font-size: 16px;
  margin-top: 6px;
}
.morkborg.sheet.actor.character .sheet-body .violence-tab .attack-rule {
  text-align: center;
}
.morkborg.sheet.actor.character .sheet-body .violence-tab .violence-gutter {
  height: 10px;
}
.morkborg.sheet.actor.character .sheet-body .violence-tab .item-list.armor-list .item {
}
.morkborg.sheet.actor.character .sheet-body .violence-tab .armor-tiers {
}
.morkborg.sheet.actor.character .sheet-body .violence-tab .tier-label {
  float: left;
  font-size: 20;
  margin-right: 10px;
}
.morkborg.sheet.actor.character .sheet-body .violence-tab ul.tiers {
  list-style-type: none;
  margin: 0;
  margin-top: 3px;
  padding: 0;
  float: left;
}
.morkborg.sheet.actor.character .sheet-body .violence-tab ul.tiers li {
  float: left;
  height: 45px;
}
.morkborg.sheet.actor.character .sheet-body .violence-tab ul.tiers label {
  display: block;
  padding: 4px;
  position: relative;
  padding-left: 32px;
}
.morkborg.sheet.actor.character .sheet-body .violence-tab ul.tiers input[type="radio"] {
  display: none;
}
.morkborg.sheet.actor.character
  .sheet-body
  .violence-tab
  ul.tiers
  input[type="radio"]:checked
  + span.tier-num {
  background: #ffe500;
  color: #000;
  border: none;
}
.morkborg.sheet.actor.character
  .sheet-body
  .violence-tab
  ul.tiers
  input[type="radio"]:disabled
  + span.tier-num {
  color: #444444;
  border: 1px solid #444444;
}
.morkborg.sheet.actor.character
  .sheet-body
  .violence-tab
  ul.tiers
  input[type="radio"]:disabled
  ~ span.tier-dmg {
  color: #444444;
}
.morkborg.sheet.actor.character .sheet-body .violence-tab ul.tiers span.tier-num {
  border: 1px solid #7a7971;
  width: 24px;
  height: 24px;
  position: absolute;
  overflow: hidden;
  line-height: 1.5;
  text-align: center;
  border-radius: 100%;
  font-size: 14pt;
  font-family: "Special Elite", cursive;
  left: 0;
  /*top: 50%; */
  top: 0%;
}
.morkborg.sheet.actor.character .sheet-body .violence-tab ul.tiers span.tier-dmg {
  width: 30px;
  height: 15px;
  position: absolute;
  overflow: hidden;
  line-height: 1;
  text-align: center;
  font-family: "Special Elite", cursive;
  font-size: 10pt;
  left: -5px;
  top: 30px;
}
.morkborg.sheet.actor.character .sheet-body .violence-tab .underarmor-row {
  margin-top: 0px;
  display: flex;
  flex-direction: row;
}
.morkborg.sheet.actor.character
  .sheet-body
  .violence-tab
  .underarmor-row
  .incoming-attack {
  flex: 1;
  text-align: center;
}
.morkborg.sheet.actor.character .sheet-body .violence-tab .incoming-attack button {
  margin-left: 10px;
  width: 120px;
  margin-bottom: 10px;
  font-family: "FetteTrumpDeutsch", fantasy, serif;
  font-size: 20px;
  background-color: white;
  color: black;
  border: none;
  border-bottom: 2px solid #777;
  border-radius: 0;
}
.morkborg.sheet.actor.character .sheet-body .violence-tab .shield-rule {
  margin-top: 5px;
}
.morkborg.sheet.actor.character .sheet-body .violence-tab .defend-rule {
  text-align: center;
}

/* ====================== */
/* Character sheet powers tab */
/* ====================== */
.morkborg.sheet.actor.character .sheet-body .powers-top-row {
  margin-top: 15px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}
.morkborg.sheet.actor.character .sheet-body .wield-power {
  flex: 0 0 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.morkborg.sheet.actor.character .sheet-body .powers-gutter {
  flex: 0 0 20px;
}
.morkborg.sheet.actor.character .sheet-body .wield-power-button {
  width: 200px;
  margin-bottom: 10px;
  font-family: "FetteTrumpDeutsch", fantasy, serif;
  font-size: 24px;
  background-color: white;
  color: black;
  border: none;
  border-bottom: 2px solid #777;
  border-radius: 0;
}
.morkborg.sheet.actor.character .sheet-body .wield-rule {
  text-align: center;
}
.morkborg.sheet.actor.character .sheet-body div.uses-remaining {
  flex: 0 0 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.morkborg.sheet.actor.character .sheet-body .uses-remaining label {
}
.morkborg.sheet.actor.character .sheet-body .uses-remaining input {
}
.morkborg.sheet.actor.character .sheet-body .uses-remaining div {
  margin-bottom: 20px;
}
/* ====================== */
/* Character sheet treasures (equipment) tab */
/* ====================== */
.morkborg.sheet.actor.character .sheet-body .equipment-top-row {
  margin-top: 10px;
  margin-left: 20px;
}
.morkborg.sheet.actor.character .sheet-body .silver-label {
}
.morkborg.sheet.actor.character .sheet-body .silver-input {
  width: 70px;
}
.morkborg.sheet.actor.character .sheet-body .carrying-label {
  margin-left: 20px;
}
.morkborg.sheet.actor.character .sheet-body .carrying-rule {
  margin-left: 10px;
}
.morkborg.sheet.actor.character .sheet-body .encumbered {
  color: #ffe500;
}
/*
TODO: figure out if we want a 2-col inventory
.morkborg.sheet.actor .sheet-body .equipment-tab .item-list {
  columns: 2;
}
*/
/* ====================== */
/* Creature sheet */
/* ====================== */
.morkborg.sheet.actor.creature .sheet-header {
  margin-top: 0;
  flex: 0 0 90px;
  display: flex;
  flex-direction: row;
  padding: 5px;
  border: 1px solid red;
}
.morkborg.sheet.actor.creature .sheet-header .header-col1 {
  border: 1px solid green;
  flex: 0 0 200px;
}
.morkborg.sheet.actor.creature .sheet-header .header-col2 {
  flex: 1;
  margin: 5px;
  display: flex;
  flex-direction: column;
  border: 1px solid blue;
}
.morkborg.sheet.actor.creature .sheet-header .creature-name input[type="text"] {
  font-family: "Blood Crow", fantasy, serif;
  font-size: 38px;
  flex: 1;
  height: 45px;
}
.morkborg.sheet.creature .sheet-body .form-group {
  margin-bottom: 8px;
}
.morkborg.sheet.creature .sheet-body .form-group label {
  font-family: "FetteTrumpDeutsch", fantasy, serif;
  font-size: 20px;
  text-align: right;
  margin-right: 10px;
}
.morkborg.sheet.creature .sheet-body .form-group input {
  font-family: 'Special Elite', cursive;
  font-size: 14pt;
}
.morkborg.sheet.creature .sheet-body .form-group select {
  font-family: 'Special Elite', cursive;
  font-size: 14pt;
}
/* ====================== */
/* Item sheet */
/* ====================== */
.morkborg.sheet.item .sheet-header {
  margin-top: 0;
  flex: 0 0 90px;
  display: flex;
  flex-direction: row;
  padding: 5px;
}
.morkborg.sheet.item .sheet-header .item-name input[type="text"] {
  font-family: "Blood Crow", fantasy, serif;
  font-size: 38px;
  flex: 1;
  height: 45px;
}
.morkborg.sheet.item .sheet-header .item-subtitle {
  font-family: "Old Cupboard", serif;
  font-size: 24px;
  text-transform: uppercase;
  margin-left: 13px;
}
.morkborg.sheet.item .sheet-body {
  margin-top: 8px;
  padding: 5px;
}
.morkborg.sheet.item .sheet-body .form-group {
  margin-bottom: 8px;
}
.morkborg.sheet.item .sheet-body .form-group label {
  font-family: "FetteTrumpDeutsch", fantasy, serif;
  font-size: 20px;
  text-align: right;
  margin-right: 10px;
}
.morkborg.sheet.item .sheet-body .form-group input {
  font-family: "Special Elite", cursive;
  font-size: 14pt;
}
.morkborg.sheet.item .sheet-body .form-group select {
  font-family: "Special Elite", cursive;
  font-size: 14pt;
}